<script type="text/javascript">
    var filePath = null;
    function OnSelectedFileChanged(s, e) {
        if(e.file) {
            filePath = s.GetCurrentFolderPath() + "\\" + e.file.name;
            if(!spreadsheet.InCallback())
                spreadsheet.PerformCallback({ "filePath": filePath });
        }
    }
    function OnSpreadsheetBeginCallback(s, e) {
        e.customArgs["filePath"] = filePath;
        filePath = null;
    }
    function OnSpreadsheetEndCallback(s, e) {
        if(filePath != null)
            spreadsheet.PerformCallback();
    }
</script>

@using(Html.BeginForm()) {
    <div class="BottomMargin">
        <label>Navigate through folders and select a document to open with the Spreadsheet.</label>
    </div>
    @Html.Partial("CustomDocumentManagementFileManagerPartial")
    <br />
    @Html.Partial("CustomDocumentManagementPartial")
}
