@model LoanAmortizationScheduleParameters

@using(Html.BeginForm()) {
    <div class="BottomMargin">
        @Html.Partial("DynamicSheetGenerationOptionsPartial", Model)
    </div>
    @Html.Partial("DynamicSheetGenerationPartial")
}
