@functions{
    IList<string> EndlessPagingModeTextList {
        get { 
            return new List<string>() { 
                Enum.GetName(typeof(DataViewEndlessPagingMode), DataViewEndlessPagingMode.OnClick),
                Enum.GetName(typeof(DataViewEndlessPagingMode), DataViewEndlessPagingMode.OnScroll)
            };
        }
    }
}

<script type="text/javascript">
// <![CDATA[
    $(document).ready(function () {
        $("#EndlessPagingMode").change(function(){
            $("form").submit();
        });
    });
// ]]> 
</script>

@using(Html.BeginForm()){
    <div style="padding-bottom:15px;">
        <label for="EndlessPagingMode">Endless Paging mode:</label>
        @Html.DropDownList("EndlessPagingMode", new SelectList(EndlessPagingModeTextList, ViewBag.EndlessPagingMode), new { style = "width: 100px;" })
    </div>
    @Html.Partial("EndlessPagingPartial")
}