<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <!--
		Use the one of predefined values: None, ApplicationFolder, ApplicationDataFolder. The default value is ApplicationFolder.
		<add key="TraceLogLocation" value="CurrentUserApplicationDataFolder"/>
		<add key="UserModelDiffsLocation" value="CurrentUserApplicationDataFolder"/>
		<add key="Languages" value="de;es;ja;ru" />
		-->
  </appSettings>
  <connectionStrings>
    <add name="ConnectionStringXPO" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Initial Catalog=SimpleProjectManagerXPO_v16.2;Pooling=false;" />
    <add name="ConnectionStringEF" connectionString="Integrated Security=SSPI;Data Source=.\SQLEXPRESS;Initial Catalog=SimpleProjectManagerEF_v16.2;MultipleActiveResultSets=True;" />
    <!--CanNotPatchBinConnectionString-->
    <!--
		Use the following connection string to connect to a database on the Microsoft SQL Express Server:
		<add name="ConnectionString" connectionString="Integrated Security=True;Pooling=false;MultipleActiveResultSets=True;Data Source=.\SQLExpress;Initial Catalog=SimpleProjectManager_v16.2" />
		-->
    <!--
		Use the following ConnectionString to connect to a database on the Microsoft SQL Server:
		<add name="ConnectionString" connectionString="Integrated Security=True;Pooling=false;MultipleActiveResultSets=True;Data Source=(local);Initial Catalog=SimpleProjectManager_v16.2"/>
		-->
    <!--		
		Use the following connection string to connect to a Jet (Microsoft Access) database that is already created and located in the <application root>/app_data folder. 
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=|DataDirectory|\SimpleProjectManager_v16.2.mdb;Mode=Share Deny None;"/>
		If the database doesn't exist, it won't be created until you replace the |DataDirectory| substitution string with the fully qualified path to the database. For instance:
		<add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=C:\myDataFolder\SimpleProjectManager_v16.2.mdb;Mode=Share Deny None;"/>		
		-->
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <!-- Use the one of predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
      <add name="eXpressAppFramework" value="3" />
      <!--
			<add name="XPO" value="3" />
			-->
    </switches>
  </system.diagnostics>
</configuration>
