@model PdfDocumentCreationAPIModel

@section AdditionalResources {
    <style type="text/css">
        .bigButtonHoover {
            background-color: #FFFFFF !important;
        }
        .bigButton {
            color: #EF810C !important;
            font-size: 16px !important;
            font-weight: 700 !important;
        }
    </style>
}
<div style="text-align: center; width: 100%; margin-top:150px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <div style="margin-top: 20px; margin-bottom: 20px; font-size: 30px">
        This demo illustrates the capability to programmatically generate a document layout  and bookmarks using PDF document creation API.
    </div>
    <div style="margin-top: 40px; font-size: 16px; color:GrayText">
        Click the button below to create a sample document with a
    </div>
    <div style="margin-bottom: 20px; font-size: 16px; color:GrayText">
        dynamically generated layout and bookmarks.
    </div>
    <div style="margin-bottom: 200px">
        @Html.DevExpress().Button(settings => {
           settings.Styles.Style.HoverStyle.CssClass = "bigButtonHoover";
           settings.ControlStyle.CssClass = "bigButton";
           settings.Name = "btnDownload";
           settings.Text = "CREATE AND DOWNLOAD";
           settings.Height = new Unit("60px");
           settings.Width = new Unit("270px");
           settings.ClientSideEvents.Click = String.Format("function (s, e) {{ document.location.href = '{0}'; }}", Url.Action("Download", "Pdf"));
        }).GetHtml()
    </div>
</div>