@model PdfPageDeletionModel
<script type="text/javascript">
    function DeletePage() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteCurrentPage", "Pdf")',
            data: { pageNumber: PdfViewer.GetPageIndex() },
            success: function () { PdfViewer.PerformCallback(); }
        });
    }
</script>
<table class="OptionsTable">
    <tr>
        <td style="vertical-align:baseline;">
            @Html.DevExpress().Button(settings => {
           settings.Name = "btnDeletePage";
           settings.Text = "Delete current page";
           settings.Height = new Unit("25px");
           settings.ClientSideEvents.Click = "function(s, e) {DeletePage();}";
       }).GetHtml()
        </td>
    </tr>
</table>
<br />
@Html.Partial("PdfFileView")
