@model IEnumerable
<script type="text/javascript">
    $(document).ready(function () {
        if (chart.chart.series[0].viewType == "Bar") {
            $("#summaryFunction")[0].hidden = true;
            $("#lbShow")[0].hidden = true;
            $("#lbDescription")[0].hidden = true;
        }
    });
</script>
@using (Html.BeginForm()) {
    ChartDrillDownDemoOptions options = (ChartDrillDownDemoOptions)ViewData[ChartDemoHelper.OptionsKey];
    <div class="chartOptionsPanel" style="height:auto; font-size:12px">
        <table style="width: 100%;">
            <tr>
                <td class="NoWrap"><label id="lbShow">Show</label></td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td>
                    @Html.DropDownList("summaryFunction", ChartDemoHelper.GetSummary(), new { style = "width:80px" })
                </td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td class="NoWrap"><label id="lbDescription" style="width:auto">product price in every category</label></td>
                <td style="width: 100%;"></td>
                <td>
                    @Html.CheckBox("showLabels", options.ShowLabels)
                </td>
                <td class="NoWrap">
                    <label for="showLabels" style="width:auto">Show Labels</label>
                </td>
                <td><div class="Spacer" style="width: 15px;"></div></td>
                <td>
                    <input type="submit" value="Apply" />
                </td>
            </tr>
        </table>
    </div>
    if (string.IsNullOrEmpty((string)ViewData[ChartDemoHelper.CategoryKey])) {
        @Html.Partial("DrillDownPartial", Model)
    }
    else {
        @Html.Partial("DrillDownCategoryPartial", Model)
    }
}