.DataViewItemTitle { font-size: 13px; margin: 6px 0px; }        
.DataViewItemTitle a { color: blue; text-decoration: underline; }        
.DataViewItemPrice { color: black; font-size: 14px; font-weight: bold; }
