<connectionStrings>
   <add name="DashboardStorageConnectionString" connectionString = "Data Source=; Initial Catalog=DashboardStorage; Integrated Security=True"
     providerName="System.Data.SqlClient" />
   <add name="FinanceDemoConnectionString" connectionString = "Data Source=; Initial Catalog=FinancialDemo; Integrated Security=True"
            providerName="System.Data.SqlClient" />
  <add name="CorporateDemoConnectionString" connectionString = "Data Source=teamdashboard\sql2008; Initial Catalog=AdventureWorks; Integrated Security=True"
            providerName="System.Data.SqlClient" />
</connectionStrings>
