@model IList

@using (Html.BeginForm()) {
    ChartMarkerDemoOptions options = (ChartMarkerDemoOptions)ViewData[ChartDemoHelper.OptionsKey];
    
    <div class="chartOptionsPanel" style="height:auto; font-size:12px;">
        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.CheckBox("showLabels", options.ShowLabels)
                </td>
                <td class="NoWrap">
                    <label for="showLabels" style="width:auto">Show Labels</label>
                </td>
                <td><div class="Spacer" style="width: 400px;"></div></td>
                <td class="NoWrap"><label for="markerKindString">Marker Kind</label></td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td>
                    @Html.DropDownList("markerKindString", ChartDemoHelper.GetMarkerKinds())
                </td>
                <td><div class="Spacer" style="width: 10px;"></div></td>
                <td class="NoWrap"><label for="markerSize">Marker Size</label></td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td>
                    @Html.DropDownList("markerSize", ChartDemoHelper.GetMarkerSize("8"))
                </td>
                <td><div class="Spacer" style="width:13px;"></div></td>
                <td><input style="float: right;" type="submit" value="Apply" /></td>
            </tr>
        </table>
    </div>

    @Html.DevExpress().Chart(settings => {
        settings.Name = "chart";
        settings.Height = 500;
        settings.Width = 920;
        settings.BorderOptions.Visibility = DefaultBoolean.False;
        settings.CrosshairEnabled = options.ShowLabels ? DefaultBoolean.False : DefaultBoolean.True;

        settings.Legends.Default(l => {
            l.AlignmentHorizontal = LegendAlignmentHorizontal.Left;
        });
    
        settings.Series.Template(t => {
            t.ArgumentDataMember = "Date";
            t.ValueDataMembers[0] = "Population";
            t.LabelsVisibility = options.ShowLabels ? DefaultBoolean.True : DefaultBoolean.False;
            t.Views().LineSeriesView(v => {
                v.PointMarkerOptions.Size = options.MarkerSize;
                v.PointMarkerOptions.Kind = (MarkerKind)Enum.Parse(typeof(MarkerKind), options.MarkerKindString);
                if (v.PointMarkerOptions.Kind == MarkerKind.Star)
                    v.PointMarkerOptions.StarPointCount = options.StarPointCount;
                v.SeriesLabel(l => {
                    l.ResolveOverlappingMode = ResolveOverlappingMode.Default;
                });
            });
        });

        settings.XYDiagram(d => {
            d.AxisX.DateTimeScaleOptions.MeasureUnit = DateTimeMeasureUnit.Year;
            d.AxisX.DateTimeScaleOptions.GridAlignment = DateTimeGridAlignment.Year;
            d.AxisX.DateTimeScaleOptions.GridSpacing = 10;
            d.AxisX.DateTimeScaleOptions.GridOffset = -1;
            d.AxisX.WholeRange.SideMarginsValue = 5;
            d.AxisX.GridLines.Visible = true;
            d.AxisX.Interlaced = true;
            d.AxisX.Title.Text = "Years";
            d.AxisY.WholeRange.AlwaysShowZeroLevel = false;
            d.AxisY.Title.Text = "Population mid-year, millions";
            d.AxisY.Title.Visibility = DefaultBoolean.True;
        });

        settings.Titles.Add(new ChartTitle() {
            Font = new Font("Tahoma", 18),
            Text = "Historic, current and future population "
        });
        settings.Titles.Add(new ChartTitle() {
            Alignment = StringAlignment.Far,
            Dock = ChartTitleDockStyle.Bottom,
            Font = new Font("Tahoma", 8),
            TextColor = Color.Gray,
            Text = "From www.geohive.com"
        });
    }).Bind(Model, "Region").GetHtml()
}