@model IList

@using (Html.BeginForm()) {
    Chart3DDemoOptions options = (Chart3DDemoOptions)ViewData[ChartDemoHelper.OptionsKey];
    
    <div class="chartOptionsPanel" style="height:auto; font-size:12px;">
        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.CheckBox("showLabels", options.ShowLabels)
                </td>
                <td class="NoWrap">
                    <label for="showLabels" style="width:auto">Show Labels</label>
                </td>
                <td><div class="Spacer" style="width: 400px;"></div></td>
                <td class="NoWrap"><label for="perspectiveAngle">Perspective Angle</label></td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td>
                    @Html.DropDownList("perspectiveAngle", ChartDemoHelper.GetPerspectiveAngle())
                </td>
                <td><div class="Spacer" style="width: 10px;"></div></td>
                <td class="NoWrap"><label for="zoomPercent">Zoom Percent</label></td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td>
                    @Html.DropDownList("zoomPercent", ChartDemoHelper.GetZoomPercent())
                </td>
                <td><div class="Spacer" style="width:9px;"></div></td>
                <td><input style="float: right;" type="submit" value="Apply" /></td>
            </tr>
        </table>
    </div>

    @Html.DevExpress().Chart(settings => {
        settings.Name = "chart";
        settings.BorderOptions.Visibility = DefaultBoolean.False;
        settings.Height = 500;
        settings.Width = 920;
        settings.CrosshairEnabled = options.ShowLabels ? DefaultBoolean.False : DefaultBoolean.True;

        settings.Legends.Default(l => {
            l.AlignmentHorizontal = LegendAlignmentHorizontal.Center;
            l.AlignmentVertical = LegendAlignmentVertical.BottomOutside;
            l.Direction = LegendDirection.LeftToRight;
            l.Border.Visibility = DefaultBoolean.False;
            l.HorizontalIndent = 12;
        });
    
        settings.Series.Add(s =>
        {
            s.Name = "Russia";
            s.LabelsVisibility = options.ShowLabels ? DefaultBoolean.True : DefaultBoolean.False;
            s.ArgumentScaleType = ScaleType.DateTime;
            s.SetDataMembers("Date", "Russia");
            s.Views().Line3DSeriesView(v =>
            {
                v.LineWidth = 3;
                v.SeriesLabel(l =>
                {
                    l.ResolveOverlappingMode = ResolveOverlappingMode.HideOverlapped;
                });
            });
        });

        settings.Series.Add(s =>
        {
            s.Name = "South Africa";
            s.LabelsVisibility = options.ShowLabels ? DefaultBoolean.True : DefaultBoolean.False;
            s.ArgumentScaleType = ScaleType.DateTime;
            s.SetDataMembers("Date", "SouthAfrica");
            s.Views().Line3DSeriesView(v =>
            {
                v.LineWidth = 3;
                v.SeriesLabel(l =>
                {
                    l.ResolveOverlappingMode = ResolveOverlappingMode.HideOverlapped;
                });
            });
        });

        settings.Series.Add(s =>
        {
            s.Name = "Poland";
            s.LabelsVisibility = options.ShowLabels ? DefaultBoolean.True : DefaultBoolean.False;
            s.ArgumentScaleType = ScaleType.DateTime;
            s.SetDataMembers("Date", "Poland");
            s.Views().Line3DSeriesView(v =>
            {
                v.LineWidth = 3;
                v.SeriesLabel(l =>
                {
                    l.ResolveOverlappingMode = ResolveOverlappingMode.HideOverlapped;
                });
            });
        });
    
    
        settings.XYDiagram3D(d=>{
            d.AxisX.Label.MaxWidth = 70;
            d.AxisX.DateTimeScaleOptions.MeasureUnit = DateTimeMeasureUnit.Year;
            d.AxisY.Interlaced = true;
            d.AxisY.WholeRange.AlwaysShowZeroLevel = false;
            d.AxisY.NumericScaleOptions.GridSpacing= 50;
            d.VerticalScrollPercent = 4;
            d.RotationType = RotationType.UseAngles;
            d.RotationOrder = RotationOrder.XYZ;
            d.RotationAngleY = -20;
            d.PerspectiveAngle = options.PerspectiveAngle;
            d.ZoomPercent = options.ZoomPercent;
        });

        settings.Titles.Add(new ChartTitle() {
            Text = "Coal Production, in Millions of Tonnes"
        });
        settings.Titles.Add(new ChartTitle() {
            Alignment = StringAlignment.Far,
            Dock = ChartTitleDockStyle.Bottom,
            Font = new Font("Tahoma", 8),
            TextColor = Color.Gray,
            Text = "From www.quandl.com"
        });
    }).Bind(Model).GetHtml()
}
