<script type="text/javascript">
    $(document).ready(function() {
        $("#city").on('change', function() {
            if(!RichEdit.InCallback())
                RichEdit.PerformCallback({ "city": $("#city").val() });
        });
    });
    function OnRichEditInit(s, e) {
        RichEdit.PerformCallback();
    }
</script>

@using(Html.BeginForm()) {
    <div style="padding-bottom: 10px;">
        <label for="city">Create invitation by city:&nbsp;</label>
        @Html.DropDownList(
            "city",
            new SelectList(new[] { "London", "Seattle", "Tacoma", "Kirkland", "Redmond" }, Session["city"])
        )
    </div>
    @Html.Partial("MailMergeViaDocumentServerPartial")
}