@model FormLayoutFeaturesModel

@using(Html.BeginForm()){
    <table>
        <tr>
            <td style="vertical-align: top; width: 100%;">
                @Html.DevExpress().FormLayout(settings => {
                    settings.Name = "formLayout";
                    settings.EncodeHtml = false;
               
                    var groupItem = settings.Items.AddGroupItem(itemSettings => {
                        itemSettings.Caption = "Group Caption";
                        itemSettings.SettingsItemHelpTexts.Position = HelpTextPosition.Bottom;
                    });
                    groupItem.Items.Add(m => m.Name).HelpText = "Please, enter your login name";
                    groupItem.Items.Add(m => m.Email).HelpText = "Please, enter your e-mail";
                    groupItem.Items.Add(m => m.Description, i => {
                        i.HelpText = "Leave a little bit of information<br/>about yourself";
                        i.NestedExtension().Memo(s => {
                            s.Height = 50;
                            s.Width = Unit.Pixel(137);
                        });
                    });

                    FormLayoutFeaturesDemoOptions options = ViewBag.FeaturesDemoOptions;
                    groupItem.GroupBoxDecoration = options.GroupSettingsGroupBoxDecoration;
                    groupItem.ShowCaption = options.GroupSettingsShowCaption ? DefaultBoolean.True : DefaultBoolean.False;
                    groupItem.SettingsItems.ShowCaption = options.ItemCaptionSettingsShowCaption ? DefaultBoolean.True : DefaultBoolean.False;
                    groupItem.SettingsItemCaptions.Location = options.ItemCaptionSettingsLocation;
                    groupItem.SettingsItemCaptions.HorizontalAlign = options.ItemCaptionSettingsHorizontalAlign;
                    groupItem.SettingsItemCaptions.VerticalAlign = options.ItemCaptionSettingsVerticalAlign;
                    groupItem.SettingsItemHelpTexts.Position = options.ItemHelpTextSettingsPosition;
                    groupItem.SettingsItemHelpTexts.HorizontalAlign = options.ItemHelpTextSettingsHorizontalAlign;
                    groupItem.SettingsItemHelpTexts.VerticalAlign = options.ItemHelpTextSettingsVerticalAlign;
                    foreach(MVCxFormLayoutItem layoutItem in groupItem.Items) {
                        if(!options.ItemHelpTextSettingsShowHelpText)
                            layoutItem.HelpText = string.Empty;
                    }
                }).GetHtml()
            </td>
            <td style="vertical-align: top; width: 350px;">
                @Html.DevExpress().FormLayout(settings => {
                    settings.Name = "demoOptions";
                    settings.AlignItemCaptionsInAllGroups = true;
                    settings.SettingsItemCaptions.HorizontalAlign = FormLayoutHorizontalAlign.Left;

                    settings.Items.AddGroupItem(group => {
                        group.Caption = "Group Settings";
                        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                        group.Items.Add(i => i.FieldName = "GroupSettingsGroupBoxDecoration");
                        group.Items.Add(i => i.FieldName = "GroupSettingsShowCaption");
                    });
           
                    settings.Items.AddGroupItem(group => {
                        group.Caption = "Item Caption Settings";
                        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                        
                        group.Items.Add(i => i.FieldName = "ItemCaptionSettingsShowCaption");
                        group.Items.Add(i => i.FieldName = "ItemCaptionSettingsLocation");
                        group.Items.Add(i => i.FieldName = "ItemCaptionSettingsHorizontalAlign");
                        group.Items.Add(i => i.FieldName = "ItemCaptionSettingsVerticalAlign");
                    });
           
                    settings.Items.AddGroupItem(group => {
                        group.Caption = "Item HelpText Settings";
                        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                        group.Items.Add(i => i.FieldName = "ItemHelpTextSettingsShowHelpText");
                        group.Items.Add(i => i.FieldName = "ItemHelpTextSettingsPosition");
                        group.Items.Add(i => i.FieldName = "ItemHelpTextSettingsHorizontalAlign");
                        group.Items.Add(i => i.FieldName = "ItemHelpTextSettingsVerticalAlign");
                    });
               
                    settings.Items.Add(i => {
                        i.Caption = " ";
                        i.NestedExtension().Button(s => {
                            s.Name = "apply";
                            s.Text = "Apply";
                            s.UseSubmitBehavior = true;
                        });
                    });
                }).Bind(ViewBag.FeaturesDemoOptions).GetHtml()
            </td>
        </tr>
    </table>
}