@section AdditionalResources {
    <style type="text/css">
        .itemStyle 
        {
        	background: none;
            border: 0;
            color: black;
            padding: 0;
            height: auto;
        }
    </style>
}

@Html.DevExpress().RoundPanel(
    settings => {
        settings.Name = "ratingPanel";
        settings.Width = Unit.Percentage(100);
        settings.ShowHeader = false;
        settings.SetContent(() => {
            Html.DevExpress().DataView(
                dvSettings => {
                    dvSettings.Name = "dataView";
                    dvSettings.AllowPaging = false;
                    dvSettings.EnableTheming = false;
                    dvSettings.SettingsTableLayout.ColumnCount = 1;
                    dvSettings.ControlStyle.ItemSpacing = 25;
                    dvSettings.ControlStyle.Paddings.Padding = 5;
                    dvSettings.Styles.Item.Width = Unit.Percentage(100);
                    dvSettings.Styles.Item.CssClass = "itemStyle";
                    
                    dvSettings.SetItemTemplateContent(c => {
                        ViewContext.Writer.Write(
                            "<div style=\"width:100%; position: relative\">" +
                                "<div style=\"float: left; font-size: 18pt\">" + DataBinder.Eval(c.DataItem, "Name") + "</div>" +
                                "<div style=\"position: absolute; right: 0\">"
                        );
                        Html.DevExpress().RatingControl(
                            rcSettings => {
                                rcSettings.Name = "ratingControl" + c.ItemIndex;
                                rcSettings.ReadOnly = true;
                            }
                        )
                        .Bind(Decimal.Parse((string)DataBinder.Eval(c.DataItem, "Value")))
                        .Render();
                        ViewContext.Writer.Write(
                                "</div>" +
                            "</div>" +
                            "<div style=\"width:100%; padding: 5px 5px 0 0; float: left\">"
                        );
                        Html.DevExpress().Label(
                            lblSettings => {
                                lblSettings.Name = "label" + c.ItemIndex;
                            }
                        )
                        .Bind(DataBinder.Eval(c.DataItem, "Description"))
                        .Render();
                        ViewContext.Writer.Write(
                            "</div>"
                        );
                    });
                }
            )
            .BindToXML(Server.MapPath("~/App_Data/ExtensionRatings.xml"), "/Extensions/*")
            .Render();
        });
}).GetHtml()