.dxrpControl
{
    margin-bottom: 2px;
}
.propertyEditors
{
    margin-bottom: 2px;
}
.groupBox
{
    margin: 5px 0px;
    border: solid 1px gray;
    width: 480px;
}

form.compress .buttons
{
    clear: both;
    width: 100%;
}
form.compress fieldset
{
    border: solid 1px gray;
    width: 100%;
}
form.compress fieldset legend
{
    margin-left: 20px;
}
form.compress .fileContainer
{
    height: 200px;
    padding: 5px 10px;
    overflow: auto;
}

.UnitConversionLayoutTable
{
    margin-top: 20px;
}
.UnitConversionLayoutTable > tbody > tr > td
{
    padding: 2px 8px 4px 0;
}
.UnitConversionAlignedColumn
{
    padding-left: 50px !important;
}
.PreviewBorderedContent
{
    border: 1px Solid rgb(224, 224, 224);
}
