@using DevExpress.Web.Mvc;
@using DevExpress.Web.Demos;

<script type="text/javascript">
    function ToolbarItemClick(s, e) { 
        var input=$('input[name=ExportFormat]');
        input.attr('value', e.item.name);
        input.closest('form').submit();
    }
</script>

@Html.DevExpress().Menu(settings => {
    settings.Name = "ToolbarExportButtons";
    settings.ShowAsToolbar = true;
    settings.ClientSideEvents.ItemClick = "ToolbarItemClick";

    settings.Items.Add(i => {
        i.Name = "ToolbarCaption";
        i.SetTemplateContent("<div class=\"exportToolbarCaption\"><span>Export type:</span></div>");
    });
    var exportFormats = (IEnumerable<CardViewExportFormat>)Model;
    foreach(var format in exportFormats) {
        settings.Items.Add(i => {
            var formatName = format.ToString();
            i.Name = formatName;
            i.ToolTip = GetMenuItemToolTip(format);
            i.Image.IconID = string.Format("export_exportto{0}_32x32", formatName.ToLowerInvariant());
        });
    }
}).GetHtml()
<input type="hidden" name="ExportFormat" style="display: none;" />

@functions {
    string GetMenuItemToolTip(CardViewExportFormat format) {
        var toolTip = "Export to " + format;
        if(format == CardViewExportFormat.Xls || format == CardViewExportFormat.Xlsx)
            toolTip += " (DataAware)";
        return toolTip;
    }
}