<?xml version="1.0" encoding="utf-8"?><connectionStrings>
  <clear />
  <add name="NWindConnectionString" connectionString="XpoProvider=SQLite;Data Source=|DataDirectory|\nwind.db; FailIfMissing=true" />
  <add name="CarsDBConnectionString" connectionString="XpoProvider=SQLite;Data Source=|DataDirectory|\CarsDB.db; FailIfMissing=true" />
  <add name="ContactsConnectionString" connectionString="XpoProvider=SQLite;Data Source=|DataDirectory|\Contacts.db; FailIfMissing=true" />
  <add name="CountriesDBConnectionString" connectionString="XpoProvider=SQLite;Data Source=|DataDirectory|\Countries.db; FailIfMissing=true" />
  <add name="NWindEntities_ConnectionString" connectionString="Data Source=|DataDirectory|\nwind.db" providerName="System.Data.SQLite" />
  <add name="DevExpress.XtraScheduler.Demos.Properties.Settings.DoctorConnectionString" connectionString="Data Source=Doctors.sqlite" providerName="System.Data.SQLite.EF6" />
  <add name="NWindEntities" connectionString="metadata=res://*/NWindModel.csdl|res://*/NWindModel.ssdl|res://*/NWindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NWind.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  <add name="CarsDBEntities" connectionString="metadata=res://*/SchedulerModel.csdl|res://*/SchedulerModel.ssdl|res://*/SchedulerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\CarsDB.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="HomesConnectionString" connectionString="XpoProvider=SQLite;Data Source=|DataDirectory|\homes.db; FailIfMissing=true" />
</connectionStrings>
