@model IEnumerable
@section AdditionalResources{
    <script type="text/javascript">
        function Submit() {
            $("form").submit();
        }
    </script>
}
@using(Html.BeginForm()) {
    <table class="OptionsTable BottomMargin">
        <tr>
            <td>
                Column resizing mode:
            </td>
            <td>
                @Html.DevExpress().ComboBox(settings => {
                   settings.Name = "ColumnResizeMode";
                   settings.Properties.Items.Add("Disabled");
                   settings.Properties.Items.Add("NextColumn");
                   settings.Properties.Items.Add("Control");
                   settings.Properties.ClientSideEvents.ValueChanged = "Submit";
                }).Bind(ColumnResizingDemoHelper.Options.ColumnResizeMode.ToString()).GetHtml()
            </td>
        </tr>
        <tr>
            <td>
                Resizing visualization:
            </td>
            <td>
                @Html.DevExpress().ComboBox(settings => {
                   settings.Name = "Visualization";
                   settings.SelectedIndex = 0;
                   settings.Properties.Items.Add("Live");
                   settings.Properties.Items.Add("Postponed");
                   settings.Properties.ClientSideEvents.ValueChanged = "Submit";
                }).Bind(ColumnResizingDemoHelper.Options.Visualization.ToString()).GetHtml()
            </td>
        </tr>
    </table>
}
@Html.Partial("ColumnResizingPartial", Model)
