.ViewerSelectorIcon {
    background: url('../Content/ViewerSelector.png') no-repeat !important;
}

.Inner .ViewerSelectorPopup .ButtonWrapperBtmBorder {
    left: 83px;
}

.ViewerSelectorPopup .ViewerSelectorContainerWrapper {
    width: 210px !important;
    height: auto !important;
}

    .ViewerSelectorPopup .ViewerSelectorContainerWrapper .ViewerSelectorContainer {
        width: auto !important;
        height: auto !important;
    }

        .ViewerSelectorPopup .ViewerSelectorContainerWrapper .ViewerSelectorContainer .ThemeGroupMenu .ThemeIco {
            height: 39px !important;
            background-position: center;
        }

.viewer-selector-asp {
    background: url('../Content/ViewerSelector_DocumentViewer.png') no-repeat;
}

.viewer-selector-html5 {
    background: url('../Content/ViewerSelector_WebDocumentViewer.png') no-repeat;
}