@model IEnumerable

@section CustomTopAreaHolder {
    @Html.Partial("SkipRepetitiveNavigationLinks")
}

<div class="dxAIFE" tabindex="0">main content</div>

@Html.Partial("CompliancePartial", Model)

@Html.Partial("AccessibilityValidatorLink")