<p>
    To run the demo locally, register your Azure account using the AccountManager.RegisterAzure() method in the global.asax file 
            and set the AzureSettings.ContainerName property to your container name value.
</p>
<p>
    Or you can see this demo online at <a target="_blank" href='https://demos.devexpress.com/MVCxHtmlEditorDemos/Features/BinaryImageAutoUpload'>https://demos.devexpress.com/MVCxHtmlEditorDemos/Features/BinaryImageAutoUpload</a>
</p>
