@model HtmlString

@using (Html.BeginForm()){
        HtmlEditorFeaturesDemoOptions options = Session["Options"] as HtmlEditorFeaturesDemoOptions;
        if (options == null) {
            options = new HtmlEditorFeaturesDemoOptions();
        }
    @Html.Partial("FeaturesPartial", Model)
    <div style="margin-left:-14px; padding-top: 20px;">
        @Html.Partial("FeaturesOptionsPartial", options)
    </div>
}