@model HtmlEditorHtmlHighlightingDemoOptions
@using (Html.BeginForm()){
    <div style="float: left; padding-right: 20px;">
        @Html.Partial("HtmlHighlightingPartial", Model)
    </div>
    @Html.Partial("HtmlHighlightingOptionsPartial", Model)
}