@model HtmlEditorPasteFormattingDemoOptions
@using (Html.BeginForm()){
    <div style="padding-bottom: 10px;">
        @Html.Partial("PasteFormattingOptionsPartial", Model)
    </div>
    @Html.Partial("PasteFormattingPartial", Model)
    <br />
    <div class="Note">
        Copy a part of editor content and paste it with formatting specified by the PasteMode combo box. Use the buttons that appear in the top right corner of the design area to change the paste formatting mode for the just pasted content.
    </div>
}