@model MiscellaneousNumberInWordsModel
<script type="text/javascript">
    function OnNumberChanged(cmbEmployee) {
        tlResult.PerformCallback({ number: spnNumber.GetValue() });
    }
</script>

<table class="OptionsTable">
    <tr>
        <td style="width: 100px">
            @Html.DevExpress().Label(
                settings => {
                    settings.Name = "lblNumber";
                    settings.Text = "Number: ";
                    settings.AssociatedControlName = "spnNumber";
                }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().SpinEditFor(model => model.Number,
                settings => {
                    settings.Name = "spnNumber";
                    settings.Properties.EnableClientSideAPI = true;
                    settings.Height = Unit.Pixel(19);
                    settings.Width = Unit.Percentage(100);
                    settings.Properties.MaxValue = 32767;
                    settings.Properties.MinValue = 1;
                    settings.Properties.LargeIncrement = 5;
                    settings.Properties.ClientSideEvents.ValueChanged = "function(s, e) { OnNumberChanged(s); }";
                }).GetHtml()
        </td>
    </tr>
</table>
<br />
@Html.Partial("NumberInWordsTreeListPartial", Model)
