<div class="Slogan">
    Your Next Great MVC App Starts Here
</div>
<p>
    Get started today and download your <a href="@AssemblyInfo.DXLinkTrial">30-day trial</a> of DevExpress MVC Extensions (includes 30 days of free technical support). 
</p>
<p style="margin-top: 10px;">
    All demos ship with full source code and are included in the DevExpress MVC distribution. Refer to the <a href="http://help.devexpress.com/#AspNet/CustomDocument11904">Demos and Sample Applications</a> topic to learn more.  
</p>
<p style="margin-top: 10px;">
    DevExpress MVC Extensions ship as part of DevExpress Universal, DXperience and ASP.NET Subscriptions and are backed by a <b>60 day unconditional money-back guarantee</b>.<br />
    To learn more and obtain pricing information, visit the <a href="@AssemblyInfo.DXLinkCompare">Compare Features and Pricing</a> webpage. For immediate assistance, contact us by Email at <a href="@AssemblyInfo.DXLinkEmailInfo">info@devexpress.com</a> or by phone at +1 (818) 844-3383 between 7:30am and 4:30pm Pacific Time. 
</p>