@model IList
@using (Html.BeginForm()) {
    ChartRangeDemoOptions options = (ChartRangeDemoOptions)ViewData[ChartDemoHelper.OptionsKey];
    
    <div class="chartOptionsPanel" style="height:25px; font-size:12px;">
        <div style="float: left; vertical-align:baseline;">
            @Html.CheckBox("showLabels", options.ShowLabels, new { style = "vertical-align: -2px; margin-left: 8px;" })
            <label class="checkBox" for="showLabels">Show Labels</label>
        </div>
        <input style="float: right;" type="submit" value="Apply" />
    </div>
    
    @Html.DevExpress().Chart(settings => {
        settings.Name = "chart";
        settings.BorderOptions.Visibility = DefaultBoolean.False;
        settings.Height = 500;
        settings.Width = 920;
        settings.CrosshairEnabled = DefaultBoolean.False;
        settings.ToolTipEnabled = DefaultBoolean.True;
    
        settings.Legends.Default(l => {
            l.AlignmentHorizontal = LegendAlignmentHorizontal.Right;
            l.AlignmentVertical = LegendAlignmentVertical.Top;
            l.Direction = LegendDirection.LeftToRight;
        });  

        settings.Series.Template(t => {
            t.ArgumentScaleType = ScaleType.DateTime;
            t.SetRangeDataMembers("Date", "Min", "Max");
            t.LabelsVisibility = options.ShowLabels ? DefaultBoolean.True : DefaultBoolean.False;
            t.ChangeView(DevExpress.XtraCharts.ViewType.SideBySideRangeBar);
        });    
    
        settings.XYDiagram(d => {
            d.AxisX.DateTimeScaleOptions.MeasureUnit = DateTimeMeasureUnit.Month;
            d.AxisX.DateTimeScaleOptions.GridAlignment = DateTimeGridAlignment.Month;
            d.AxisX.WholeRange.AutoSideMargins = true;
            d.AxisX.Label.TextPattern = "{A:MMMM}";
            d.AxisY.GridLines.MinorVisible = true;
            d.AxisY.Title.Text = "$ per barrel";
            d.AxisY.Title.Visibility = DefaultBoolean.True;
            d.AxisY.WholeRange.AlwaysShowZeroLevel = false;
            d.AxisY.WholeRange.AutoSideMargins = true;
            d.AxisY.Interlaced = true;
            d.AxisY.Label.TextPattern = "{V:N0}";
        });

        settings.Titles.Add(new ChartTitle() {
            Text = "Crude Oil Prices in 2015"
        });
        settings.Titles.Add(new ChartTitle() {
            Alignment = StringAlignment.Far,
            Dock = ChartTitleDockStyle.Bottom,
            Font = new Font("Tahoma", 8),
            TextColor = Color.Gray,
            Text = "From www.eia.gov"
        });
    }).Bind(Model, "Name").GetHtml()
}
