.fontArial,
.fontArialBold,
.fontComicSansMs,
.fontCourierNew,
.fontGeorgia,
.fontLucidaSans,
.fontTimesNewRoman,
.fontVerdana
{
    background-image: url('Fonts.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 32px;
}

.fontArial
{
    background-position: 0px 0px;
}

.fontArialBold
{
    background-position: -150px 0px;
}

.fontComicSansMs
{
    background-position: 0px -32px;
}

.fontCourierNew
{
    background-position: -150px -32px;
}

.fontGeorgia
{
    background-position: 0px -64px;
}

.fontLucidaSans
{
    background-position: -150px -64px;
}

.fontTimesNewRoman
{
    background-position: 0px -96px;
}

.fontVerdana
{
    background-position: -150px -96px;
}

.underlineSolid,
.underlineDouble,
.underlineBold,
.underlineDotted,
.underlineWideDotted,
.underlineDashDot,
.underlineDashDoubleDot
{
    background-image: url('Underlines.png');
    background-repeat: no-repeat;
    width: 150px;
    height: 25px;
}

.underlineSolid
{
    background-position: 0px -3px;
}

.underlineDouble
{
    background-position: 0px -29px;
}

.underlineBold
{
    background-position: 0px -55px;
}

.underlineDotted
{
    background-position: 0px -81px;
}

.underlineWideDotted
{
    background-position: 0px -107px;
}

.underlineDashDot
{
    background-position: 0px -133px;
}

.underlineDashDoubleDot
{
    background-position: 0px -159px;
}

.bulletBlackDot,
.bulletSquare,
.bulletWhiteDot,
.bulletArrow,
.bulletWhiteLozenge,
.bulletBlackLozenge,
.bulletCheck
{
    background-image: url('Bullets.png');
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

.bulletBlackDot
{
    background-position: 0px 0px;
}

.bulletSquare
{
    background-position: -32px 0px;
}

.bulletWhiteDot
{
    background-position: -64px 0px;
}

.bulletArrow
{
    background-position: -96px 0px;
}

.bulletWhiteLozenge
{
    background-position: 0px -32px;
}

.bulletBlackLozenge
{
    background-position: -32px -32px;
}

.bulletCheck
{
    background-position: -64px -32px;
}

.styleNormal,
.styleNoSpacing,
.styleHeading1,
.styleHeading2,
.styleTitle,
.styleSubtitle,
.styleSubtleEmphasis,
.styleEmphasis,
.styleIntenseEmphasis,
.styleStrong,
.styleQuote,
.styleIntenseQuote,
.styleSubtleReference,
.styleIntenseReference,
.styleBookTitle
{
    background-image: url('Styles.png');
    background-repeat: no-repeat;
    width: 64px;
    height: 32px;
}

.styleNormal
{
    background-position: 0px 0px;
}

.styleNoSpacing
{
    background-position: 0px 0px;
}

.styleHeading1
{
    background-position: -64px 0px;
}

.styleHeading2
{
    background-position: -192px 0px;
}

.styleTitle
{
    background-position: -320px 0px;
}

.styleSubtitle
{
    background-position: -448px 0px;
}

.styleSubtleEmphasis
{
    background-position: -0px -32px;
}

.styleEmphasis
{
    background-position: -128px -32px;
}

.styleIntenseEmphasis
{
    background-position: -256px -32px;
}

.styleStrong
{
    background-position: -385px -32px;
}

.styleQuote
{
    background-position: -128px -32px;
}

.styleIntenseQuote
{
    background-position: 0px -64px;
}

.styleSubtleReference
{
    background-position: -128px -64px;
}

.styleIntenseReference
{
    background-position: -192px -64px;
}

.styleBookTitle
{
    background-position: -385px -32px;
}

.watermarkConfidential1,
.watermarkConfidential2,
.watermarkDontcopy1,
.watermarkDontcopy2,
.watermarkDraft1,
.watermarkDraft2,
.watermarkSample1,
.watermarkSample2,
.watermarkAsap1,
.watermarkAsap2,
.watermarkUrgent1,
.watermarkUrgent2
{
    background-image: url('Watermark.png');
    background-repeat: no-repeat;
    width: 120px;
    height: 150px;
}

.watermarkConfidential1
{
    background-position: 0px 0px;
}

.watermarkConfidential2
{
    background-position: -120px 0px;
}

.watermarkDontcopy1
{
    background-position: -240px 0px;
}

.watermarkDontcopy2
{
    background-position: -360px 0px;
}

.watermarkDraft1
{
    background-position: 0px -150px;
}

.watermarkDraft2
{
    background-position: -120px -150px;
}

.watermarkSample1
{
    background-position: -240px -150px;
}

.watermarkSample2
{
    background-position: -360px -150px;
}

.watermarkAsap1
{
    background-position: -0px -300px;
}

.watermarkAsap2
{
    background-position: -120px -300px;
}

.watermarkUrgent1
{
    background-position: -240px -300px;
}

.watermarkUrgent2
{
    background-position: -360px -300px;
}

.shapesRectangle,
.shapesRoundedRectangle,
.shapesEllipse,
.shapesDiamond,
.shapesTrapezoid,
.shapesParallelogram,
.shapesTriangle,
.shapesRightTriangle,
.shapesPentagon,
.shapesHexagon,
.shapesThreePointStar,
.shapesFourPointStar,
.shapesFivePointStar,
.shapesSixPointStar,
.shapesArrow,
.shapesNotchedArrow,
.shapesPentagonArrow,
.shapesChevronArrow,
.shapesRectangularCallout,
.shapesRoundedRectangularCallout,
.shapesEllipticalCallout,
.shapesCloudCallout,
.shapesLightningBolt,
.shapesCheckMark,
.shapesMultiply,
.shapesGear,
.shapesHeart
{
    background-image: url('Shapes.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.shapesRectangle
{
    background-position: 0px 0px;
}

.shapesRoundedRectangle
{
    background-position: -16px 0px;
}

.shapesEllipse
{
    background-position: -32px 0px;
}

.shapesDiamond
{
    background-position: -48px 0px;
}

.shapesTrapezoid
{
    background-position: -64px 0px;
}

.shapesParallelogram
{
    background-position: 0px -16px;
}

.shapesTriangle
{
    background-position: -16px -16px;
}

.shapesRightTriangle
{
    background-position: -32px -16px;
}

.shapesPentagon
{
    background-position: -48px -16px;
}

.shapesHexagon
{
    background-position: -64px -16px;
}

.shapesThreePointStar
{
    background-position: 0px -32px;
}

.shapesFourPointStar
{
    background-position: -16px -32px;
}

.shapesFivePointStar
{
    background-position: -32px -32px;
}

.shapesSixPointStar
{
    background-position: -48px -32px;
}

.shapesArrow
{
    background-position: -64px -32px;
}

.shapesNotchedArrow
{
    background-position: 0px -48px;
}

.shapesPentagonArrow
{
    background-position: -16px -48px;
}

.shapesChevronArrow
{
    background-position: -32px -48px;
}

.shapesRectangularCallout
{
    background-position: -48px -48px;
}

.shapesRoundedRectangularCallout
{
    background-position: -64px -48px;
}

.shapesEllipticalCallout
{
    background-position: 0px -64px;
}

.shapesCloudCallout
{
    background-position: -16px -64px;
}

.shapesLightningBolt
{
    background-position: -32px -64px;
}

.shapesCheckMark
{
    background-position: -48px -64px;
}

.shapesMultiply
{
    background-position: -64px -64px;
}

.shapesGear
{
    background-position: 0px -80px;
}

.shapesHeart
{
    background-position: -16px -80px;
}