<%@ Master Language="C#" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder id="CustomTopHeadHolder" runat="server" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:ContentPlaceHolder id="ContentHolder" runat="server" />
    </div>
    </form>
</body>
</html>
