@{
    ViewBag.Title = "Not found";
    Layout = "~/Views/Shared/_LoggedUsersLayout.cshtml";
}

<h2>404 - The resource you requested was not found</h2>
<p>
	The resource you are looking for might have been removed, had its name changed, or is temporarily unavailable.
</p>

@section AdditionalElementsSection {
	
}

@section LeftNavigationColumn{

}

@section RightNavigationSideBar {
	
}
