@model SchedulerDataObject

<div>    
	<table>
		<tr>
			<td>
				@Html.Partial("DateNavigatorPartial", Model)
			</td>
			<td style="padding-left:10px">
				@Html.DevExpress().DateNavigator(SchedulerDemoHelper.DateNavigatorSchedulerSettings).Bind(Model.Appointments, Model.Resources).GetHtml()
			</td>
		</tr>
    </table>
</div>