@model IEnumerable

@using(Html.BeginForm("ExportWithFormatConditionsResult", "Exporting", FormMethod.Post)) {
    <div style="padding: 10px 0;">
        @Html.Partial("ToolbarExport", CardViewExportDemoHelper.ExportFormatsInfo.Keys)
    </div>
    @Html.Partial("ExportWithFormatConditionsPartial", Model)
}