@model IEnumerable

@using(Html.BeginForm("ExportTo", "Exporting")) {
    <div class="OptionsBottomMargin">
        @Html.Partial("ToolbarExport", CardViewExportDemoHelper.ExportFormatsInfo.Keys)
    </div>
    @Html.Partial("ExportPartial", Model)
}
