<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="DevExpress.Demos.HybridApp.Universal.v16.2" Publisher="CN=DevExpress" Version="16.2.9.0" />
  <mp:PhoneIdentity PhoneProductId="B52C4B6C-F082-4CB0-8231-2148C9B7435F" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>DevExpress.Demos.HybridApp.v16.2</DisplayName>
    <PublisherDisplayName>DevExpress</PublisherDisplayName>
    <Logo>Resources\Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.1.0" MaxVersionTested="10.0.158.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HybridApp.App">
      <uap:VisualElements DisplayName="HybridApp" Square150x150Logo="Resources\Assets\Square150x150Logo.png" Square44x44Logo="Resources\Assets\Square44x44Logo.png" Description="HybridApp" BackgroundColor="#3F3F3F">
        <uap:SplashScreen Image="Resources\Assets\SplashScreen.png" BackgroundColor="#FFFFFF" />
        <uap:DefaultTile Wide310x150Logo="Resources\Assets\Wide310x150Logo.png" ShortName="DX Hybrid App" Square71x71Logo="Resources\Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>