/* -- ASPxCloudControl -- */
.dxccControl_Violet a:hover {
    text-decoration: underline!important;
}
.dxccControl_Violet a {
	text-decoration: none!important;
}
.dxccControl_Violet {
	font-family: Arial,sens-serif;
	font-weight: bold;
	text-decoration: none;
	background-color: White;
}
/* Disabled */
.dxccDisabled_Violet
{
	color: #808080;
	cursor: default;
}
