.CommonTitle {
    color: #969a33;
    font-size: 20pt;
    text-align: center;
    margin: -5px 0 13px 0;
}
.CommonHeader1 {
    color: #6f7408;
    font-weight: lighter;
    font-size: 170%;
    margin-top: 20px;
    margin-bottom: 5px;
}
.CommonHeader2 {
    color: #6f7408;
    font-weight: lighter;
    font-size: 130%;
    margin-top: 13px;
    margin-bottom: 10px;
}
.CommonContent {
    font-size: 100%;
    color: #303440;
    margin-top: -5px;
    line-height: 1.5;
}
.CommonFooter {
    padding-top: 5px;
    padding-bottom: 5px;
    color: Black;
    font-size: 12px;
    text-align: right
}
.ImageMargin {
    margin: 0 0 5px 20px;
}
.ImageTitle {
    color: #000000;
    line-height: 20px;
}
a.link {
    text-decoration: none;
}
a.link:hover {
    text-decoration: underline;
}
/* Image Styles */
.WithBorder {
    border: solid green 5px;
}
.WithPaddings {
    border: dashed blue 1px;
    padding: 50px 10px;
    background-color: yellow;
}
.SemiTransparent {
    opacity: 0.4;
}