@model IList
<script type="text/javascript">
    $(window).load(UpdateLabelOptionDisabled);

    function SetLabelOptionsEnabled() {
        $("#valueAsPercent")[0].disabled = false;
    }
    function UpdateLabelOptionDisabled() {
        $("#valueAsPercent")[0].disabled = !($("#showLabels")[0].checked);
    }
</script>
@using (Html.BeginForm()) {
    ChartStepAreaFullStckedDemoOptions options = (ChartStepAreaFullStckedDemoOptions)ViewData[ChartDemoHelper.OptionsKey];
    <div class="chartOptionsPanel" style="height:auto; font-size:12px">
        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.CheckBox("showLabels", options.ShowLabels, new { onclick = "UpdateLabelOptionDisabled()" })
                </td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td class="NoWrap">
                    <label for="showLabels" style="width:auto">Show Labels</label>
                </td>
                <td><div class="Spacer" style="width: 15px;"></div></td>
                <td>
                    @Html.CheckBox("inverted", options.Inverted)
                </td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td class="NoWrap" style="width: 100%;">
                    <label class="checkBox" for="inverted">Inverted Steps</label>
                </td>
                <td>
                    @Html.CheckBox("valueAsPercent", options.ValueAsPercent)
                </td>
                <td class="NoWrap" style="width: 120px;">
                    <label for="valueAsPercent" style="width:auto">Value As Percent</label>
                </td>
                <td><div class="Spacer" style="width:15px;"></div></td>
                <td>
                    <input style="float: right;" type="submit" value="Apply" onclick="SetLabelOptionsEnabled()" />
                </td>
            </tr>
        </table>
    </div>

    @Html.DevExpress().Chart(settings => {
        settings.Name = "chart";
        settings.Width = 920;
        settings.Height = 500;
        settings.BorderOptions.Visibility = DefaultBoolean.False;    
        settings.CrosshairEnabled = options.ShowLabels ? DefaultBoolean.False : DefaultBoolean.True;

        settings.Legends.Default(l => {
            l.AlignmentHorizontal = LegendAlignmentHorizontal.Center;
            l.AlignmentVertical = LegendAlignmentVertical.BottomOutside;
            l.Direction = LegendDirection.RightToLeft;
            l.Border.Visibility = DefaultBoolean.False;
        });
    
        settings.Titles.Add(new ChartTitle() {
            Text = "Statistics comments in the past month"
        });

        settings.Series.Template(t => {
            t.Views().FullStackedStepAreaSeriesView(v => {
                v.InvertedStep = options.Inverted;
                v.SeriesLabel(l => {
                    l.ResolveOverlappingMode = ResolveOverlappingMode.Default;
                    l.TextPattern = options.ValueAsPercent ? "{VP:P0}" : "{V}";
                });
            });
            t.LabelsVisibility = options.ShowLabels ? DefaultBoolean.True : DefaultBoolean.False;
            t.SetDataMembers("Date", "Value");
        });
        
        settings.XYDiagram(d => {
            d.AxisX.WholeRange.SideMarginsValue = 0;
            d.AxisX.DateTimeScaleOptions.MeasureUnit = DateTimeMeasureUnit.Month;
            d.AxisX.DateTimeScaleOptions.GridAlignment = DateTimeGridAlignment.Month;
            d.AxisX.DateTimeScaleOptions.AutoGrid = false;
            d.AxisX.DateTimeScaleOptions.GridSpacing = 1;
            d.AxisX.Label.TextPattern = "{A:MMMM}";
            
            d.AxisY.WholeRange.SetMinMaxValues(0, 1);
            d.AxisY.WholeRange.SideMarginsValue = 0;
            d.AxisY.Label.TextPattern = "{V:P0}";
            d.AxisY.Interlaced = true;
        });        
    }).Bind(Model, seriesDataMember: "Type").GetHtml()
}
