@model IList

@using (Html.BeginForm()) {
    ChartAreaDemoOptions options = (ChartAreaDemoOptions)ViewData[ChartDemoHelper.OptionsKey];
    <div class="chartOptionsPanel" style="height:auto; font-size:12px">
        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.CheckBox("showLabels", options.ShowLabels)
                </td>
                <td class="NoWrap" style="width: 100%;">
                    <label for="showLabels" style="width:auto">Show Labels</label>
                </td>
                <td>
                    <input style="float: right;" type="submit" value="Apply" />
                </td>
            </tr>
        </table>
    </div>

    @Html.DevExpress().Chart(settings => {
        settings.Name = "chart";
        settings.Width = 920;
        settings.Height = 500;
        settings.BorderOptions.Visibility = DefaultBoolean.False;
        settings.CrosshairEnabled = options.ShowLabels ? DefaultBoolean.False : DefaultBoolean.True;

        settings.Legends.Default(l => {
            l.AlignmentHorizontal = LegendAlignmentHorizontal.Center;
            l.AlignmentVertical = LegendAlignmentVertical.BottomOutside;
            l.Direction = LegendDirection.LeftToRight;
            l.Border.Visibility = DefaultBoolean.False;
        });
    
        settings.Titles.Add(new ChartTitle() {
            Text = "DevAV Sales"
        });

        settings.Series.Template(t => {
            t.Views().StackedAreaSeriesView(v => {
                v.SeriesLabel(l => {
                    l.ResolveOverlappingMode = ResolveOverlappingMode.Default;
                    l.TextPattern = "{V:0,,.0}";
                });
            });
            t.SetDataMembers("Year", "Sales");
            t.LabelsVisibility = options.ShowLabels ? DefaultBoolean.True : DefaultBoolean.False;
            t.CrosshairLabelPattern = "{S}: ${V:0,,.0}M";
        });

        settings.XYDiagram(d => {
            d.AxisX.DateTimeScaleOptions.MeasureUnit = DateTimeMeasureUnit.Year;
            d.AxisX.Title.Text = "Month";
            d.AxisX.WholeRange.AutoSideMargins = false;
            d.AxisX.WholeRange.SideMarginsValue = 0D;            
            
            d.AxisY.Interlaced = true;
            d.AxisY.Interlaced = true;
            d.AxisY.Title.Text = "Millions of Dollars";
            d.AxisY.Title.Visibility = DefaultBoolean.True;
            d.AxisY.Label.TextPattern = "{V:0,,.0}";
        });
    }).Bind(Model, seriesDataMember: "Region").GetHtml()
}