@model string

@using(Html.BeginForm()) {
    <div class="BottomMargin">
        <label>Choose mail merge mode:</label>
    </div>
    @Html.DevExpress().RadioButtonList(
        settings => {
            settings.Name = "MailMergeMode";
            settings.Properties.ClientSideEvents.SelectedIndexChanged = "function(s, e) { $('form').submit(); }";
        }
    ).BindList(MailMergeDemoHelper.GetMailMergeModes()).Bind(Model).GetHtml()
    <br />
    @Html.Partial("MailMergePartial", Model)
}
