h1 {
    padding: 20px 20px;
    line-height: initial;
}

h1 span {
    font-weight: lighter;
    font-size: 40px;
    color: #3c3c3c;
    margin-top: -8px;
    margin-left: -2px;
}

h1 span.title {
    font-size: 16px;
    color: #848484;
    margin: 0;
    display: block;
}

.switchLink {
    font-weight: lighter;
    font-size: 14px;
    margin-left: 10px;
}

html,
body,
form,
#wrapper {
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
    overflow: hidden;
}

.back {
    text-align: center;
    padding: 4px 15px;
    background-color: #AAA;
}

.back a {
    color: #FFF !important;
}

.panel {
    margin: 0 auto;
    height: 100%;
}
