<?xml version="1.0" encoding="utf-8"?><configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SiteMode" value="false" />
    <add key="DemoProduct" value="ASPxperience.NavigationAndLayout" />
  </appSettings>
  <connectionStrings>
    <add name="NorthwindConnectionString" connectionString="data source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\NWind.mdf;Integrated Security=True;User Instance=True;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="WorldCitiesConnectionString" connectionString="data source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\WorldCities.mdf;Integrated Security=True;User Instance=True;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="DataConnectionString" connectionString="data source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Data.mdf;Integrated Security=True;User Instance=True;Connect Timeout=30;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="/Error500.aspx" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="~/Error404.aspx" />
      <error statusCode="500" redirect="/Error500.aspx" />
    </customErrors>
    <globalization culture="en-US" uiCulture="en-US" />
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Collections.Generic" />
        <add namespace="DevExpress.Web.Demos" />
      </namespaces>
      <controls>
        <add src="~/UserControls/Head.ascx" tagName="Head" tagPrefix="dx" />
        <add src="~/UserControls/DemoTabs.ascx" tagName="DemoTabs" tagPrefix="dx" />
        <add src="~/UserControls/ThemeParametersSelector.ascx" tagName="ThemeParametersSelector" tagPrefix="dx" />
        <add src="~/UserControls/ThemeSelector.ascx" tagName="ThemeSelector" tagPrefix="dx" />
        <add src="~/UserControls/Navigation.ascx" tagName="Navigation" tagPrefix="dx" />
        <add src="~/UserControls/Search.ascx" tagName="Search" tagPrefix="dx" />
        <add src="~/UserControls/FooterText.ascx" tagName="FooterText" tagPrefix="dx" />
        <add src="~/UserControls/AccessibilityValidatorLink.ascx" tagName="AccessibilityValidatorLink" tagPrefix="dx" />
        <add src="~/UserControls/SkipRepetitiveNavigationLinksControl.ascx" tagName="SkipRepetitiveNavigationLinksControl" tagPrefix="dx" />
        <add src="~/UserControls/EventMonitor.ascx" tagName="EventMonitor" tagPrefix="dx" />
        <add src="~/UserControls/ServerEventMonitor.ascx" tagName="ServerEventMonitor" tagPrefix="dx" />
        <add src="~/UserControls/ComponentView.ascx" tagName="ComponentView" tagPrefix="dx" />
        <add src="~/UserControls/FullScreenHyperLink.ascx" tagName="FullScreenHyperLink" tagPrefix="dx" />
        <add src="~/UserControls/Products.ascx" tagName="Products" tagPrefix="dx" />
        <add src="~/UserControls/ErrorMessage.ascx" tagName="ErrorMessage" tagPrefix="dx" />
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="dx" namespace="DevExpress.Xpo" assembly="DevExpress.Xpo.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="demo" namespace="DevExpress.Web.DemoUtils" assembly="DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource" />
      </controls>
    </pages>
    <siteMap>
      <providers>
        <add name="MenuSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/App_Data/Menu/Menu.sitemap" />
        <add name="ProductsSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="~/App_Data/SiteMap/Products.sitemap" />
      </providers>
    </siteMap>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.CodeParser.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v16.2.Core, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Utils.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Data.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Xpo.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="30720" />
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="Replace">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error statusCode="404" path="/ASPxNavigationAndLayoutDemos/Error404.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" path="/ASPxNavigationAndLayoutDemos/Error500.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <devExpress>
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
    <errors callbackErrorRedirectUrl="" />
    <settings rightToLeft="false" doctypeMode="Html5" ieCompatibilityVersion="edge" />
  </devExpress>
</configuration>
