@model IEnumerable
           
@section AdditionalResources {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/GridView/CSS/AdvancedLookup.css")" />
}

<label>Select employee (incremental filtering is on):</label>
<div class="TopPadding">
    @Html.Partial("AdvancedLookupPartial", Model)
</div>