<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStockDataService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://demos.devexpress.com/Services/StockDataService/Services/StockDataService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStockDataService" contract="StockDataServiceReference.IStockDataService" name="BasicHttpBinding_IStockDataService" />
        </client>
    </system.serviceModel>
</configuration>
