@model string

<script type="text/javascript">
    $(document).ready(function() {
        $("#Folder").change(function() {
            $('form').submit();
        });
    });
</script>

@using(Html.BeginForm()) {
    <div class="BottomMargin">
        <label for="Folder">Select folder:</label>
        @Html.DropDownList("Folder", ImageSliderDemoHelper.GetSourceFolders())
    </div>
    
    @Html.DevExpress().ImageSlider(
        settings => {
            settings.Name = "imageSlider";
            settings.EnableTheming = false;
        }
    ).BindToFolder(Model).GetHtml()
}

