<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="EFDemoObjectContext" connectionString="metadata=res://*/Data.EFDemoModel.csdl|res://*/Data.EFDemoModel.ssdl|res://*/Data.EFDemoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLExpress;initial catalog=EFDemo_16.2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>
