@model string
           
<script type="text/javascript">
    $(document).ready(function() {
        $("#securityRole").change(
            function() {
                $("form").submit();
            }
        );
    });
</script>

@using(Html.BeginForm()) {
    <div style="float: right" class="BottomMargin">
        <label for="securityRole"><b>Current Role:</b></label>
        @Html.DropDownList("securityRole", FileManagerDemoHelper.GetSecurityRoles(), new { style = "width:150px" })
    </div>
    <div style="clear: both">
        @Html.Partial("AccessControlPartial", Model)
    </div>
    <br />
    <p class="Note">
        <b>Allowed Extensions</b>: .jpg, .jpeg, .gif, .rtf, .txt, .avi, .png, .mp3, .xml, .doc, .pdf
    </p>
}