@model string

<script type="text/javascript">
    $(document).ready(function () {
        $("#fileListViewMode").change(
            function() {
                $("form").submit();
            }
        );
    });

    function OnSelectionChanged(s, e) {
        selectedFilesList.ClearItems();
        var selectedFiles = s.GetSelectedItems();
        for(var i = 0; i < selectedFiles.length; i++) {
            selectedFilesList.AddItem(selectedFiles[i].name);
        }
        $("#count").html(selectedFiles.length);
    }
</script>
  
@using(Html.BeginForm()) {
    <div style="float: right" class="BottomMargin">
        <label for="fileListViewMode">View Mode:</label>
        @Html.DropDownList("fileListViewMode", FileManagerDemoHelper.GetFileListViewModes(), new { style = "width:120px" })
    </div>
    <div class="selection_form" style="clear: both">
        <div class="values_panel">
            <div class="text">
                Selected files:
            </div>
            @Html.DevExpress().ListBox(
                settings => {
                    settings.Name = "selectedFilesList";
                    settings.Width = 150;
                    settings.Height = 250;
                    settings.Properties.EnableClientSideAPI = true;
            }).GetHtml()
            <div class="text">
                Selected count:&nbsp;<strong id="count">0</strong>
            </div>
        </div>
        <div style="float: left; width: 754px">
            @Html.Partial("MultipleFilesSelectionPartial", Model)
        </div>
    </div>
}
