@model string

<script type="text/javascript">
    $(document).ready(function() {
        $("#fileListViewMode, #fileListPageSize").change(
            function() {
                $("form").submit();
            }
        );
    });
</script>

@using(Html.BeginForm()) {
    <div class="OptionsCell">
        <label for="fileListViewMode">View Mode:</label>
        @Html.DropDownList("fileListViewMode", FileManagerDemoHelper.GetFileListViewModes(), new { style = "width:120px" })
    </div>
    <div class="OptionsCell OptionsRightMarign">
        <label for="fileListViewMode">Page Size:</label>
        @Html.DropDownList("fileListPageSize", FileManagerDemoHelper.GetFileListPageSizes(), new { style = "width:120px" })
    </div>
    <div class="NewLine"></div>
    @Html.Partial("VirtualScrollingPartial", Model)
    <br />
    <p class="Note">
        <b>Allowed Extensions</b>: .jpg, .jpeg, .gif, .rtf, .txt, .png, .doc, .pdf, .xls, .xlsx
    </p>
}