html, body, form {
	height: 100%;
	margin: 0;
}

.header {
	top: 0;
	position: absolute;
	z-index: 3;
	width: 100%;
	background-color: #4d4d4d;
	background-color: rgba(0, 0, 0, 0.5);
}

.logo {
	color: #ffd215;
	float: left;
	margin-left: 10px;
}

.text {
	font-size: 25px;
	font-family: Helvetica, Arial;
	margin: 15px 8px;
}

.navigation {
	float: right;
	margin-right: 10px;
}

	.navigation > .text {
		color: #fff;
		float: right;
		cursor: pointer;
	}

/* ASPxImageSlider styles */

.dxWeb_isDot,
.dxWeb_isDotSelected {
	background-image: url();
}

.dxisControl .dxis-nbDotItem {
	width: 50px;
	height: 5px;
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=45);
	opacity: 0.45;
}

.dxisControl .dxis-nbDotItemSelected {
	filter: progid:DXImageTransform.Microsoft.Alpha(Style=0, Opacity=100) !important;
	opacity: 1 !important;
}

.dxisControl .dxis-nbDotsBottom {
	margin-top: -75px;
}
