@model IList

@using (Html.BeginForm()) {
    ChartSideBySideBarDemoOptions options = (ChartSideBySideBarDemoOptions)ViewData[ChartDemoHelper.OptionsKey];
    
    <div class="chartOptionsPanel" style="height:auto; font-size:12px">
        <table style="width: 100%;">
            <tr>
                <td>
                    @Html.CheckBox("showLabels", options.ShowLabels)
                </td>
                <td class="NoWrap">
                    <label for="showLabels" style="width:auto">Show Labels</label>
                </td>
                <td><div class="Spacer" style="width: 610px;"></div></td>
                <td class="NoWrap"><label>Group By</label></td>
                <td><div class="Spacer" style="width: 5px;"></div></td>
                <td>
                    @Html.DropDownList("group", ChartDemoHelper.GetGroupByValues())
                </td>
                <td><div class="Spacer" style="width: 14px;"></div></td>
                <td>
                    <input type="submit" value="Apply" />
                </td>
            </tr>
        </table>
    </div>

    @Html.DevExpress().Chart(settings => {
        settings.Name = "chart";
        settings.BorderOptions.Visibility = DefaultBoolean.False;
        settings.Height = 500;
        settings.Width = 920;
        settings.CrosshairEnabled = options.ShowLabels ? DefaultBoolean.False : DefaultBoolean.True;

        settings.Legends.Default(l => {
            l.AlignmentHorizontal = LegendAlignmentHorizontal.Right;
            l.MaxHorizontalPercentage = 75;
            l.Margins.Bottom = 10;
            l.Margins.Top = 10;
            l.Margins.Left = 10;
            l.Margins.Right = 10;
        });

        settings.Series.Template(t => {
            t.Views().SideBySideStackedBarSeriesView(v => {
                v.SeriesLabel(l => {
                    l.ResolveOverlappingMode = ResolveOverlappingMode.Default;
                    l.TextPattern = "{V:0,,.000}";
                });
            });
            t.SetDataMembers("Country", "Population");
            t.LabelsVisibility = options.ShowLabels ? DefaultBoolean.True : DefaultBoolean.False;
            t.CrosshairLabelPattern = "{S}<br/>{V:0,,.0} million";
        });

        settings.BoundDataChanged = (s, e) => {
            MVCxChartControl chart = (MVCxChartControl)s;
            foreach (Series series in chart.Series) {
                series.Views().SideBySideStackedBarSeriesView(v => {
                    if (options.Group == GroupBy.Sex)
                        v.StackedGroup = series.Name.Contains("Female") ? "Female" : "Male";
                    else {
                        if (series.Name.Contains("0-14"))
                            v.StackedGroup = "0-14 years";
                        else if (series.Name.Contains("15-64"))
                            v.StackedGroup = "15-64 years";
                        else
                            v.StackedGroup = "65 years and older";
                    }
                });
            };
        };

        settings.XYDiagram(d => {
            d.AxisY.Interlaced = true;
            d.AxisY.Title.Text = "Population, millions";
            d.AxisY.Title.Visibility = DefaultBoolean.True;
            d.AxisY.Label.TextPattern = "{V:0,,}";
        });

        settings.Titles.Add(new ChartTitle() {
            Font = new Font("Tahoma", 18),
            Text = "Population: Age Structure"
        });
        settings.Titles.Add(new ChartTitle() {
            Font = new Font("Tahoma", 12),
            Text = "Data estimate for end-2016"
        });
        settings.Titles.Add(new ChartTitle() {
            Alignment = StringAlignment.Far,
            Dock = ChartTitleDockStyle.Bottom,
            Font = new Font("Tahoma", 8),
            TextColor = Color.Gray,
            Text = "From www.cia.gov"
        });
    }).Bind(Model, seriesDataMember: "GenderAge").GetHtml()
}
