/* TrackBar */
.dxeTrackBar_Print
{
	border: 1px solid transparent;
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
.dxeTrackBarFocused_Print
{
}

.dxeTBHSys_Print.dxeTrackBar_Print
{
	width: 256px;
	height: 60px;
}
.dxeTBVSys_Print.dxeTrackBar_Print
{
	height: 256px;
	width: 60px;
}
.dxeTBVSys_Print.dxeTBBScaleSys_Print.dxeTrackBar_Print
{
	width: 80px;
	height: 256px;
}
.dxeTBHSys_Print.dxeTBBScaleSys_Print.dxeTrackBar_Print
{	
	height: 80px;
	width: 256px;
}

.dxeTBTrack_Print 
{
	position: absolute;
}

.dxeTBHSys_Print .dxeTBTrack_Print
{
	background-image:  url('edtTrackBarTrackH.png');
}
.dxeTBVSys_Print .dxeTBTrack_Print
{
	background-image:  url('edtTrackBarTrackV.png');
}

.dxeTBHSys_Print .dxeTBTrack_Print
{
	height: 5px;
	left: 28px;
}
.dxeTBVSys_Print .dxeTBTrack_Print
{
	width: 5px;
	top: 28px;
}

.dxeTBHSys_Print .dxeTBMainDH_Print, .dxeTBHSys_Print .dxeTBSecondaryDH_Print
{	
	top: -5px;
}
.dxeTBVSys_Print .dxeTBMainDH_Print, .dxeTBVSys_Print .dxeTBSecondaryDH_Print
{
	left: -6px;
}
.dxeTBMainDH_Print, .dxeTBSecondaryDH_Print
{
	display: block;
	position: absolute;
}

.dxeTBVSys_Print.dxeTBRBScaleSys_Print .dxeTBTrack_Print
{
	left: 12px;
}
.dxeTBVSys_Print.dxeTBLTScaleSys_Print .dxeTBTrack_Print
{
	right: 12px;
}
.dxeTBHSys_Print.dxeTBLTScaleSys_Print .dxeTBTrack_Print
{
	bottom: 12px;
}
.dxeTBHSys_Print.dxeTBRBScaleSys_Print .dxeTBTrack_Print
{
	top: 12px;
}

.dxeTBHSys_Print.dxeTBBScaleSys_Print .dxeTBTrack_Print
{
	top: 50%;
	margin-top: -3px;
}
.dxeTBVSys_Print.dxeTBBScaleSys_Print .dxeTBTrack_Print
{
	left: 50%;
	margin-left: -3px;
}

.dxeTBShutter_Print
{
	left: 0px;
	top: 0px;
	position:absolute;
}

.dxeTBHSys_Print .dxeTBShutter_Print
{
	background-image:  url('edtTrackBarShutterH.png');
}
.dxeTBVSys_Print .dxeTBShutter_Print
{
	background-image:  url('edtTrackBarShutterV.png');
}

.dxeTBHSys_Print .dxeTBShutter_Print
{
	height: 5px;
}
.dxeTBVSys_Print .dxeTBShutter_Print
{
	width: 5px;
}

.dxeTBRBLabel_Print, .dxeTBLTLabel_Print
{
	position: absolute;
	font-size: 10px;
	text-align: center;
}

.dxeTBIncBtn_Print, .dxeTBDecBtn_Print
{
    display: block;
    padding: 5px;
	position:absolute;
}
.dxeTBShutterHover_Print
{
}
.dxeTBShutterPressed_Print
{
}
.dxeTBShutterHover_Print, .dxeTBShutterPressed_Print
{
	cursor: pointer;
}

.dxeTBVSys_Print .dxeTBRBLabel_Print, .dxeTBVSys_Print .dxeTBLTLabel_Print
{
	padding-top: 2px;
}
.dxeTBHSys_Print .dxeTBLTLabel_Print
{
	margin-left: -4px;
}
.dxeTBVSys_Print.dxeTBRBScaleSys_Print .dxeTBRBLabel_Print, .dxeTBVSys_Print.dxeTBBScaleSys_Print .dxeTBLTLabel_Print
{
	right: 0px;
}
.dxeTBVSys_Print.dxeTBLTScaleSys_Print .dxeTBLTLabel_Print, .dxeTBVSys_Print.dxeTBBScaleSys_Print .dxeTBRBLabel_Print
{
	left: 0px;
}
.dxeTBHSys_Print.dxeTBRBScaleSys_Print .dxeTBRBLabel_Print, .dxeTBHSys_Print.dxeTBBScaleSys_Print .dxeTBLTLabel_Print
{
	bottom: 0px;
}
.dxeTBHSys_Print.dxeTBLTScaleSys_Print .dxeTBLTLabel_Print, .dxeTBHSys_Print.dxeTBBScaleSys_Print .dxeTBRBLabel_Print
{
	top: 0px;
}

.dxeTBHSys_Print .dxeTBScale_Print
{
	left: 28px;
}
.dxeTBVSys_Print .dxeTBScale_Print
{
	top: 28px;
}

.dxeTBItem_Print
{
	text-align: center;
}
.dxeTBSelectedItem_Print, .dxeTBSelectedTick_Print
{
	color: #6E96FF;
}

.dxeTBHSys_Print.dxeTBBScaleSys_Print .dxeTBItem_Print
{
	background-position: center left;
}
.dxeTBHSys_Print.dxeTBRBScaleSys_Print .dxeTBItem_Print
{
	background-position: top left;
}
.dxeTBHSys_Print.dxeTBLTScaleSys_Print .dxeTBItem_Print
{
	background-position: bottom left;
}

.dxeTBVSys_Print.dxeTBBScaleSys_Print .dxeTBItem_Print
{
	background-position: top center;
}
.dxeTBVSys_Print.dxeTBRBScaleSys_Print .dxeTBItem_Print
{
	background-position: top left;
}
.dxeTBVSys_Print.dxeTBLTScaleSys_Print .dxeTBItem_Print
{
	background-position: top right;
}
.dxeTBHSys_Print .dxeTBItem_Print
{
	background-image:  url('edtTrackBarMinorTickH.png');
}
.dxeTBHSys_Print.dxeTBBScaleSys_Print .dxeTBItem_Print
{
	background-image:  url('edtTrackBarDoubleMinorTickH.png');
}
.dxeTBVSys_Print .dxeTBItem_Print 
{
	background-image:  url('edtTrackBarMinorTickV.png');
}
.dxeTBVSys_Print.dxeTBBScaleSys_Print .dxeTBItem_Print
{
	background-image:  url('edtTrackBarDoubleMinorTickV.png');
}

.dxeTBHSys_Print .dxeTBMTick_Print
{
	background-image:  url('edtTrackBarMajorTickH.png');
}
.dxeTBVSys_Print .dxeTBMTick_Print
{
	background-image: url('edtTrackBarMajorTickV.png');
}
.dxeTBHSys_Print .dxeTBmTick_Print
{
	background-image: url('edtTrackBarMinorTickH.png');
}
.dxeTBVSys_Print .dxeTBmTick_Print
{
	background-image: url('edtTrackBarMinorTickV.png');
}
.dxeTBHSys_Print .dxeTBDMTick_Print
{
	background-image: url('edtTrackBarDoubleMajorTickH.png');
}
.dxeTBVSys_Print .dxeTBDMTick_Print
{
	background-image: url('edtTrackBarDoubleMajorTickV.png');
}
.dxeTBHSys_Print .dxeTBDmTick_Print
{
	background-image: url('edtTrackBarDoubleMinorTickH.png');
}
.dxeTBVSys_Print .dxeTBDmTick_Print
{
	background-image: url('edtTrackBarDoubleMinorTickV.png');
}

.dxeTBVSys_Print .dxeTBIncBtn_Print
{
	bottom: 0px;
}
.dxeTBHSys_Print .dxeTBDecBtn_Print
{
	left: 0px;
}
.dxeTBHSys_Print .dxeTBIncBtn_Print
{
	right: 0px;
}

.dxeTBVSys_Print.dxeTBBScaleSys_Print .dxeTBDecBtn_Print, .dxeTBVSys_Print.dxeTBBScaleSys_Print .dxeTBIncBtn_Print
{ 
	left: 50%; margin-left: -15px;
}
.dxeTBHSys_Print.dxeTBBScaleSys_Print .dxeTBDecBtn_Print, .dxeTBHSys_Print.dxeTBBScaleSys_Print .dxeTBIncBtn_Print
{ 
	top: 50%; margin-top: -15px;
}
.dxeTBVSys_Print.dxeTBLTScaleSys_Print .dxeTBDecBtn_Print, .dxeTBVSys_Print.dxeTBLTScaleSys_Print .dxeTBIncBtn_Print
{
	right: 0px;
}
.dxeTBHSys_Print.dxeTBLTScaleSys_Print .dxeTBDecBtn_Print, .dxeTBHSys_Print.dxeTBLTScaleSys_Print .dxeTBIncBtn_Print
{
	bottom: 0px;
}

.dxeTBValuelabel_Print
{
	padding: 3px;
    display: inline;
    position:absolute;
    background: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.398438) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.398438) 0 1px 3px;
    border: 1px solid;
    border-color: #E5E5E5 #DBDBDB #D2D2D2;
    font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

/* Loading */
.dxeLoadingDiv_Print
{
	background: White none;
	opacity: 0.85;
	filter: alpha(opacity=85);
	cursor: wait;
}
.dxeLoadingDivWithContent_Print
{
	background: White none;
	opacity: 0.01;
	filter: alpha(opacity=1);
}

.dxeLoadingPanel_Print
{
	font: 12px Tahoma;
	color: #303030;
}
.dxeLoadingPanelWithContent_Print
{
	font: 12px Tahoma;
	color: #303030;
	background: #FFFFFF none;
	border: 1px solid #D6D6D6;
}

.dxeLoadingPanel_Print td.dx, 
.dxeLoadingPanelWithContent_Print td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}

.dxeReadOnly_Print
{
}
.dxeBase_Print
{
	font-size: 14px;
	font-family: Segoe UI;
}
/* InternalCheckBox */
.dxeIRBFocused_Print
{
	border: 1px dotted #ffb100;
	margin: 0px!important;
}
.dxeIRadioButton_Print
{
	margin: 1px;
	display: inline-block;
	vertical-align: middle;
}
/* -- ErrorFrame -- */
.dxeErrorCell_Print,
.dxeErrorCell_Print td
{
	font: 12px Tahoma;
	color: Red;
}
.dxeErrorCell_Print
{
	padding-left: 4px;
	padding-right: 5px;
}
.dxeErrorFrameWithoutError_Print
{
}
.dxeErrorFrameWithoutError_Print .dxeControlsCell_Print
{
}

.dxeEditArea_Print
{
	color: #3C5C90;
}
/* -- ValidationSummary -- */

.dxvsValidationSummary_Print
{
	font: 12px Tahoma;
	color: Red;
}
.dxvsValidationSummary_Print td.dxvsRC
{
	text-align: center;
}
.dxvsValidationSummary_Print .dxvsE
{
	vertical-align: middle;
	cursor: pointer;
}

/* ValidationSummary - Header */

.dxvsValidationSummary_Print table.dxvsHT
{
	width: 100%;
}
.dxvsValidationSummary_Print td.dxvsH
{
	padding: 2px 0;
}

/* ValidationSummary - Hyperlink */

.dxvsValidationSummary_Print a.dxvsHL,
.dxvsValidationSummary_Print a.dxvsHL:visited
{
	color: red;
}
.dxvsValidationSummary_Print a.dxvsHL
{
	text-decoration: none;
	border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_Print a.dxvsHL:hover
{
	color: #f70;
}

/* ValidationSummary - Table Layout */

.dxvsValidationSummary_Print table.dxvsT
{
}
.dxvsValidationSummary_Print tr.dxvsE
{
}
.dxvsValidationSummary_Print td.dxvsETC
{
	padding: 2px 0;
}

/* ValidationSummary - List Layout */

.dxvsValidationSummary_Print ul.dxvsL
{
}
.dxvsValidationSummary_Print ol.dxvsL
{
}
.dxvsValidationSummary_Print li.dxvsE
{
	padding: 2px 0;
}

/* -- Buttons -- */
.dxeButtonEditButton_Print,
.dxeCalendarButton_Print,
.dxeSpinIncButton_Print,
.dxeSpinDecButton_Print,
.dxeSpinLargeIncButton_Print,
.dxeSpinLargeDecButton_Print
{
	vertical-align: middle;
	border: 1px solid Transparent;
	cursor: pointer;
	height: 22px;
} 
.dxeButtonEditButton_Print,
.dxeCalendarButton_Print,
.dxeButtonEditButton_Print td.dx,
.dxeCalendarButton_Print td.dx,
.dxeSpinIncButton_Print,
.dxeSpinDecButton_Print,
.dxeSpinLargeIncButton_Print,
.dxeSpinLargeDecButton_Print,
.dxeSpinIncButton_Print td.dx,
.dxeSpinDecButton_Print td.dx,
.dxeSpinLargeIncButton_Print td.dx,
.dxeSpinLargeDecButton_Print td.dx
{
	font: normal 11px Tahoma;
	text-align: center;
	white-space: nowrap;
} 
.dxeButtonEditButton_Print,
.dxeSpinIncButton_Print,
.dxeSpinDecButton_Print,
.dxeSpinLargeIncButton_Print,
.dxeSpinLargeDecButton_Print
{
	padding: 0px 2px 0px 3px;
	background: repeat-x 50% top;
}
.dxeSpinIncButton_Print
{
	background: #F0F0F0 url('edtSpinIncBtnBack.gif') repeat-x top;
}
.dxeSpinDecButton_Print
{
	background: #E6E6E6 url('edtSpinDecBtnBack.gif') repeat-x top;
}

.dxeButtonEditButton_Print table.dxbebt,
.dxeSpinIncButton_Print table.dxbebt,
.dxeSpinDecButton_Print table.dxbebt, 
.dxeSpinLargeIncButton_Print table.dxbebt,
.dxeSpinLargeDecButton_Print table.dxbebt
{
	width: 16px;
	margin-top: 1px;
}
.dxeCalendarButton_Print
{
	font-size: 12px;
	background: #e5e5e5 url('edtCalendarButtonBack.gif') repeat-x top;
	padding: 3px 11px 4px;
	width: 32px;
}
.dxeCalendarButton_Print td.dx
{
	font-size: 12px;
	text-align: center;
	white-space: nowrap;
}
.dxeCalendarButton_Print table.dxbebt
{
	width: 100%;
}

/* -- Pressed -- */
.dxeCalendarButtonPressed_Print,
.dxeButtonEditButtonPressed_Print,
.dxeSpinIncButtonPressed_Print,
.dxeSpinDecButtonPressed_Print,
.dxeSpinLargeIncButtonPressed_Print, 
.dxeSpinLargeDecButtonPressed_Print
{
	background: url('edtDropDownButtonPressedBack.gif') repeat-x top;
	border: 1px Solid #888888;
}
/* -- Hover -- */
.dxeCalendarButtonHover_Print,
.dxeButtonEditButtonHover_Print,
.dxeSpinIncButtonHover_Print,
.dxeSpinDecButtonHover_Print,
.dxeSpinLargeIncButtonHover_Print,
.dxeSpinLargeDecButtonHover_Print
{
	background: url('edtDropDownButtonHoverBack.gif') repeat-x top;
	border: 1px Solid #888888;
}
.dxeButtonEditButtonHover_Print, .dxeButtonEditButtonPressed_Print
{
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}
.dxeCalendarButtonHover_Print
{
	background: url('edtCalendarButtonHBack.gif') repeat-x top;
}

.dxeButtonEdit_Print
{
	background-color: transparent;
	border: 1px solid #9F9F9F;
	width: 170px;
}
.dxeButtonEdit_Print .dxeEditArea_Print
{
	background-color: transparent;
}
.dxeButtonEdit_Print .dxeEditArea_Print,
.dxeButtonEdit_Print td.dxic
{
	width: 100%;
}
.dxeButtonEdit_Print td.dxic
{
	padding: 0.5px 3px 1.5px 5px !important;
}
.dxeButtonEdit_Print td.dxic input
{
	margin: 0 !important;
}
.dxeButtonEdit_Print .dxeIIC img
{
	padding-left: 3px;
	vertical-align: middle;
	margin-top: 1px;
}
.dxeTextBox_Print,
.dxeButtonEdit_Print,
.dxeMemo_Print
{	
	font-size: 14px;
	font-family: Segoe UI;

	background-color: white;
	border-top: 1px solid #646464;
	border-right: 1px solid #696969;
	border-bottom: 1px solid #6E6E6E;
	border-left: 1px solid #696969;
	
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;	
	-o-border-radius: 4px;

        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15) inset;
    -o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15) inset;
	
}
.dxeTextBox_Print
{
	width: 94px;
	height: 28px;
}
.dxeTextBox_Print td.dxic
{
	padding: 0.5px 3px 1.5px 5px !important;
}
.dxeTextBox_Print .dxeEditArea_Print
{
	background-color: transparent;
    height: 23px;
}
.dxeTextBox_Print td.dxic input
{
	margin: 0 !important;
}
.dxeCaptionCell_Print
{
    padding: 8px 12px !important;
}
.dxeRadioButtonList_Print
{
	border: 1px Solid #9F9F9F;
}
.dxeRadioButtonList_Print,
.dxeRadioButtonList_Print table
{
	font: 12px Tahoma;
}
.dxeRadioButtonList_Print td.dxe
{
	padding: 7px 5px 6px 11px;
}
.dxeRadioButtonList_Print label
{
	margin-right: 6px;
}

/* -- Memo -- */
.dxeMemo_Print
{
}
.dxeMemoEditArea_Print
{
	background-color: white;
	font: 12px Tahoma;
	outline: none;
}
.dxeMemo_Print td
{
	padding: 0 0 0 1px;
	width: 100%;
}

/* -- Hyperlink -- */
.dxeHyperlink_Print
{
	font: normal 12px Tahoma;
	color: #0d45b7;
}
a.dxeHyperlink_Print:hover
{
	color: #5494ea;
}
a.dxeHyperlink_Print:visited
{
	color: #ab59a6;
}

/* -- ListBox -- */
.dxeListBox_Print
{
	background-color: white;
	border: 1px solid #AFAFAF;
	font: 12px Tahoma;
	width: 70px;
	height: 109px;
	border-radius: 5px;
    -webkit-border-radius: 3.5px;
    -moz-border-radius: 3.5px;
    -o-border-radius: 3.5px;
    -khtml-border-radius: 3.5px;
    
    box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.15), -1px 0px 3px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.15), -1px 0px 3px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.15), -1px 0px 3px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.15), -1px 0px 3px rgba(0, 0, 0, 0.15), 0px 1px 4px rgba(0, 0, 0, 0.15);
}
.dxeListBox_Print div.dxlbd
{	
	height: 107px;
	padding: 1px !important;
}
.dxeListBoxItemRow_Print
{
	cursor: default;
}
.dxeListBoxItem_Print
{
	border: 1px solid Transparent;
	font: 14px Segoe UI;
	color: #3C5C90;
	padding: 3px 2px 4px 10px;
	white-space: nowrap;
	text-align: left;
}
.dxeListBoxItem_Print img 
{
	vertical-align: middle;
	margin-top: 2px;
}
.dxeListBoxItem_Print em
{
	background: #CFCFCF none repeat 0 0;
	color: #333333;
	font-weight: bold;
	font-style: normal;
	border: 1px solid Transparent;
}

.dxeListBox_Print td.dxeI,
.dxeListBox_Print td.dxeIM,
.dxeListBox_Print .dxeHIC, 
.dxeListBox_Print td.dxeFTM,
.dxeListBox_Print td.dxeTM,
.dxeListBox_Print td.dxeC,
.dxeListBox_Print td.dxeCM,
.dxeListBox_Print td.dxeHCC,
.dxeListBox_Print td.dxeMI,
.dxeListBox_Print td.dxeMIM
{
	border-right-width: 0!important;
}

.dxeListBox_Print td.dxeIR,
.dxeListBox_Print td.dxeIMR,
.dxeListBox_Print .dxeHICR, 
.dxeListBox_Print td.dxeFTMR,
.dxeListBox_Print td.dxeTMR,
.dxeListBox_Print td.dxeCR,
.dxeListBox_Print td.dxeCMR,
.dxeListBox_Print td.dxeHCCR,
.dxeListBox_Print td.dxeMIR,
.dxeListBox_Print td.dxeMIMR
{
	border-left-width: 0!important;
}

.dxeListBox_Print td.dxeCM,
.dxeListBox_Print td.dxeHCC,
.dxeListBox_Print td.dxeCMR,
.dxeListBox_Print td.dxeHCCR
{
	width: 25px;
}

.dxeListBox_Print td.dxeIM,
.dxeListBox_Print td.dxeIMR
{
	width: 0;
}

.dxeListBox_Print td.dxeT
{
	width: 100%;
	padding-left: 10px !important;
}

.dxeListBox_Print td.dxeTR
{
	width: 100%;
	padding-right: 0!important;
}


.dxeListBox_Print td.dxeT,
.dxeListBox_Print td.dxeMI
{
	border-left-width: 0!important;
}

.dxeListBox_Print td.dxeTR,
.dxeListBox_Print td.dxeMIR
{
	border-right-width: 0!important;
}


.dxeListBox_Print td.dxeFTM,
.dxeListBox_Print td.dxeTM,
.dxeListBox_Print td.dxeLTM, 
.dxeListBox_Print .dxeHFC,
.dxeListBox_Print .dxeHC,
.dxeListBox_Print .dxeHLC,
.dxeListBox_Print td.dxeFTMR,
.dxeListBox_Print td.dxeTMR,
.dxeListBox_Print td.dxeLTMR, 
.dxeListBox_Print .dxeHFCR,
.dxeListBox_Print .dxeHCR,
.dxeListBox_Print .dxeHLCR
{
	overflow: hidden;
}

.dxeListBox_Print td.dxeFTM,
.dxeListBox_Print td.dxeTM, 
.dxeListBox_Print .dxeHFC,
.dxeListBox_Print .dxeHC
{
	padding-right: 6px!important;
}

.dxeListBox_Print td.dxeFTMR,
.dxeListBox_Print td.dxeTMR, 
.dxeListBox_Print .dxeHFCR,
.dxeListBox_Print .dxeHCR
{
	padding-left: 6px!important;
}


.dxeListBox_Print td.dxeLTM,
.dxeListBox_Print td.dxeTM, 
.dxeListBox_Print .dxeHC,
.dxeListBox_Print .dxeHLC
{
	padding-left: 6px!important;
}

.dxeListBox_Print td.dxeLTMR,
.dxeListBox_Print td.dxeTMR, 
.dxeListBox_Print .dxeHCR,
.dxeListBox_Print .dxeHLCR
{
	padding-right: 6px!important;
}

/*Grid lines*/

.dxeListBox_Print td.dxeLTM,
.dxeListBox_Print td.dxeTM,
.dxeListBox_Print td.dxeMIM
{
	border-left: 1px solid #cfcfcf!important;
}

.dxeListBox_Print td.dxeLTMR,
.dxeListBox_Print td.dxeTMR,
.dxeListBox_Print td.dxeMIMR
{
	border-right: 1px solid #cfcfcf!important;
}

.dxeListBox_Print td.dxeIM,
.dxeListBox_Print td.dxeFTM,
.dxeListBox_Print td.dxeTM,
.dxeListBox_Print td.dxeLTM,
.dxeListBox_Print td.dxeCM,
.dxeListBox_Print td.dxeMIM,
.dxeListBox_Print td.dxeIMR,
.dxeListBox_Print td.dxeFTMR,
.dxeListBox_Print td.dxeTMR,
.dxeListBox_Print td.dxeLTMR,
.dxeListBox_Print td.dxeCMR,
.dxeListBox_Print td.dxeMIMR
{
	border-bottom: 1px solid #cfcfcf;
}

.dxeListBoxItemSelected_Print     /* inherits dxeListBoxItem */
{
}
.dxeListBoxItemHover_Print        /* inherits dxeListBoxItem */
{
	background-color: #C1DCFD;
	border-color: #B1C4DB;
	border-width: 1px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    -khtml-border-radius: 2px;
}
.dxeListBoxItemHover_Print.dxeI
{
	border-radius: 2px 0px 0px 2px;
	-webkit-border-radius: 2px 0px 0px 2px;
    -moz-border-radius: 2px 0px 0px 2px;
    -o-border-radius: 2px 0px 0px 2px;
    -khtml-border-radius: 2px 0px 0px 2px;
}
.dxeListBoxItemHover_Print.dxeT
{
	border-radius: 0px 2px 2px 0px;
	-webkit-border-radius: 0px 2px 2px 0px;
    -moz-border-radius: 0px 2px 2px 0px;
    -o-border-radius: 0px 2px 2px 0px;
    -khtml-border-radius: 0px 2px 2px 0px;
}
.dxeListBoxItemHover_Print em,
.dxeListBoxItemSelected_Print em
{
	background-image: none;
}

/*Header*/

.dxeListBox_Print .dxeHD
{
	background-color: #dcdcdc;
	border-bottom: 1px solid #A0A0A0;
}

.dxeListBox_Print .dxeHC,
.dxeListBox_Print .dxeHLC,
.dxeListBox_Print td.dxeHMIC
{
	border-left: 1px solid #A0A0A0;
}

.dxeListBox_Print .dxeHCR,
.dxeListBox_Print .dxeHLCR,
.dxeListBox_Print td.dxeHMICR
{
	border-right: 1px solid #A0A0A0;
	text-align: right;
}

.dxeListBox_Print .dxeHIC,
.dxeListBox_Print .dxeHFC,
.dxeListBox_Print .dxeHCC
{
	border-left: 1px solid #dcdcdc;
}

.dxeListBox_Print .dxeHICR,
.dxeListBox_Print .dxeHFCR,
.dxeListBox_Print .dxeHCCR
{
	border-right: 1px solid #dcdcdc;
	text-align: right;
}

.dxeListBox_Print .dxeHFC,
.dxeListBox_Print .dxeHC,
.dxeListBox_Print .dxeHMIC
{
	border-right-width: 0;
}

.dxeListBox_Print .dxeHFCR,
.dxeListBox_Print .dxeHCR,
.dxeListBox_Print .dxeHMICR
{
	border-left-width: 0;
	text-align: right;
}

.dxeListBox_Print .dxeHLC
{
	border-right: 1px solid #dcdcdc;
}

.dxeListBox_Print .dxeHLCR
{
	border-left: 1px solid #dcdcdc;
	text-align: right;
}

/* -- Calendar -- */
.dxeCalendar_Print
{
	border: 1px solid #9f9f9f;
	background-color: White;
	color: Black;
	font-weight: normal;
	cursor: default;
}
.dxeCalendar_Print td.dxMonthGrid_Print
{
	padding: 8px 20px;
}
.dxeCalendar_Print td.dxMonthGridWithWeekNumbers_Print
{
	padding: 5px 20px 8px 8px;
}
.dxeCalendar_Print td.dxMonthGridWithWeekNumbersRtl_Print
{
	padding: 5px 8px 8px 20px;
}
.dxeCalendarDayHeader_Print
{
	font: 12px Tahoma;
	padding: 2px 4px 5px;
	border-bottom: 1px solid #cfcfcf;
}
.dxeCalendarWeekNumber_Print
{
	font: 9px Tahoma;
	text-align: right;
	padding: 6px 8px 6px 4px;
	color: #bfbfbf;
}
.dxeCalendarDay_Print
{
	font: 12px Tahoma;
	padding: 4px 6px;
	text-align: center;
}
.dxeCalendarWeekend_Print        /* inherits dxeCalendarDay */
{
	color: #c00000;
}
.dxeCalendarOtherMonth_Print     /* inherits dxeCalendarDay */
{
	color: #888;
}
.dxeCalendarOutOfRange_Print     /* inherits dxeCalendarDay */
{
	color: #d0d0d0;
}
.dxeCalendarSelected_Print       /* inherits dxeCalendarDay */
{
	color: White;
	background-color: #8d8d8d;
}
.dxeCalendarToday_Print         /* inherits dxeCalendarDay */
{
	padding: 3px 3px 2px;
	border: 1px solid #c00000;
}
.dxeCalendarHeader_Print
{
	background-color: #dcdcdc;
	border-top: 1px solid #c9c9c9;
	border-right: 0 solid #c9c9c9;
	border-bottom: 1px solid #c9c9c9;
	border-left: 0 solid #c9c9c9;
	padding: 4px 7px;
}
.dxeCalendarHeader_Print td.dxe
{
	font: 12px Tahoma;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFooter_Print
{
	background-color: #ededed;
	padding: 8px 0px;
	border-top: 1px solid #d6d6d6;
}
.dxeCalendarFastNav_Print
{
	color: Black;
	background: White none;
	border-top: 1px solid #9f9f9f;
	border-right: 1px solid #9f9f9f;
	border-bottom: 0px solid #9f9f9f;
	border-left: 1px solid #9f9f9f;
	padding: 12px 8px;
}
.dxeCalendarFastNavMonthArea_Print
{
	padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_Print
{
}
.dxeCalendarFastNavFooter_Print
{
	color: Black;
	background-color: #ededed;
	padding: 8px 0px;
	border-right: 1px solid #9f9f9f;
	border-bottom: 1px solid #9f9f9f;
	border-left: 1px solid #9f9f9f;
	border-top: 1px solid #d6d6d6;
}
.dxeCalendarFastNavMonth_Print,
.dxeCalendarFastNavYear_Print
{
	font: normal 12px Tahoma;
	color: Black;
	padding: 3px 5px;
	text-align: center;
	cursor: pointer;
}
.dxeCalendarFastNavMonth_Print
{
	padding: 6px;
}
.dxeCalendarFastNavMonthSelected_Print,
.dxeCalendarFastNavYearSelected_Print
{
	color: White;
	background: #8d8d8d none;
}
.dxeCalendarFastNavMonthHover_Print,
.dxeCalendarFastNavYearHover_Print
{
	color: Black;
	background: #e5e5e5 none;
	padding: 2px 4px;
	border: 1px solid #d6d6d6;
}
.dxeCalendarFastNavMonthHover_Print
{
	padding: 5px;
}
/* Disabled */
.dxeDisabled_Print,
.dxeDisabled_Print td.dxe
{
	color: #acacac;
	cursor: default;
}
a.dxeDisabled_Print:hover
{
	color: #acacac;
}
.dxeButtonDisabled_Print,
.dxeButtonDisabled_Print td.dxe
{
	border-color: #c3c3c3;
	color: #808080;
	cursor: default;
}
/* -- Button -- */
.dxbButton_Print
{
	color: #000000;
	font: normal 12px Tahoma;
	vertical-align: middle;
	border-style: none;
	background: url('bg-button.png') no-repeat 50% top;
	cursor: pointer;
	width: 130px;
	height: 41px;
}

.blue .dxbButton_Print
{
	background: url('bg-button-blue.png') no-repeat 50% top;
	width: 130px;
	height: 41px;
}
.dxbButtonHover_Print
{
	color: #000000;
	background: url('bg-button.png') no-repeat 50% top;
	border-color: #606060;
	border-style: none;
}
.dxbButtonChecked_Print
{
	color: #FFFFFF;
}
.dxbButtonPressed_Print
{
}
.dxbButton_Print div.dxb
{
	border-width: 0px;
	height: 17px;
}
.blue .dxbButton_Print div.dxb img
{
	margin-top: 2px;
}
.dxbButton_Print div.dxb img
{
	margin-top: 4px;
}
.withImage .dxbButton_Print div.dxb img
{
	margin-top: 0px;
}
.dxbButton_Print div.dxbf
{
	border-style: none;
}
.dxbButton_Print div.dxb td.dxb
{
	background: transparent url('')!important;
	border-width: 0px!important;
	margin-left: 0px;
	margin-top: 0px;
	padding: 0px!important;
}
.dxbButtonPressed_Print div.dxb
{
	margin-top: 2px;
}

/* Disabled */
.dxbDisabled_Print
{
	border-color: #c3c3c3;
	color: #808080;
	cursor: default;
}
.dxbDisabled_Print td.dxb
{
	color: #808080;
}
/* -- FilterControl -- */
.dxfcTable_Print
{
	border-collapse: separate!important;
}
.dxfcTable_Print td.dxfc
{
	padding: 0px 0px 0px 3px;
	vertical-align: middle;
	font: 12px Tahoma;
	color: Black;
}
a.dxfcPropertyName_Print
{
	white-space: nowrap!important;
	color: Blue!important;
}
a.dxfcGroupType_Print
{
	white-space: nowrap!important;
	padding: 0px 3px!important;
	color: Red!important;
}
a.dxfcOperation_Print
{
	white-space: nowrap!important;
	color: Green!important;
}
a.dxfcValue_Print
{
	white-space: nowrap!important;
	color: Gray!important;
}

.dxfcLoadingDiv_Print
{
	background: white none;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxfcLoadingPanel_Print
{
	font: 12px Tahoma;
	color: #303030;
	border: 1px solid #9F9F9F;
	background: white none;
}
.dxfcLoadingPanel_Print td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}

.dxeMaskHint_Print
{
	background: #ffffe1 none;
	border: 1px solid black;
	padding: 2px 5px 3px;
	color: Black;
	font: 12px Tahoma;
}

/* -- ProgressBar -- */
.dxeProgressBar_Print
{
	border: 1px Solid #696969;
	background-color: #FFFFFF;
}
.dxeProgressBar_Print,
.dxeProgressBar_Print td.dxe
{
	font: 12px Tahoma;
	color: Black;
}
.dxeProgressBar_Print .dxePBMainCell_Print,
.dxeProgressBar_Print td.dxe
{
	padding: 0;
}
.dxeProgressBarIndicator_Print
{
	background-color: #E0DFDF;
}

/* -- DropDownWindow -- */
.dxeDropDownWindow_Print
{
	background-color: white;
	border: 1px solid #9F9F9F;
}

/*----------------- ColorTable -----------------*/
.dxeColorIndicator_Print
{
	border: 1px solid #9F9F9F;
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.dxeColorTable_Print,
.dxeItemPicker_Print
{
	background-color: #ffffff;
	border: 1px solid #9F9F9F;
}
.dxeColorTable_Print td.dx,
.dxeItemPicker_Print td.dx
{
	padding: 4px;
}
.dxeColorTableCell_Print,
.dxeItemPickerCell_Print
{
	padding: 3px;
	cursor: pointer;
}
.dxeColorTableCellDiv_Print
{
	border: 1px solid #808080;
	width: 12px;
	height: 12px;
	font-size: 0px;
}
.dxeColorTableCellSelected_Print
{
	padding: 2px!important;
	background-color: #CBCBCB;
	border: 1px solid #888888;
}
.dxeColorTableCellHover_Print,
.dxeItemPickerCellHover_Print
{
	padding: 2px!important;
	background-color: #F2F2F2;
	border: 1px solid #888888;
}

/* -- Invalid Style -- */
.dxeInvalid_Print
{	
	box-shadow: 1px 0px 2px #fec3c3 inset, -1px 0px 2px #fec3c3 inset, 0px -1px 2px 1px #fff2f2 inset, 0px 1px 1px #f98383 inset;
    -weblit-box-shadow: 1px 0px 2px #fec3c3 inset, -1px 0px 2px #fec3c3 inset, 0px -1px 2px 1px #fff2f2 inset, 0px 1px 1px #f98383 inset;
    -moz-box-shadow: 1px 0px 2px #fec3c3 inset, -1px 0px 2px #fec3c3 inset, 0px -1px 2px 1px #fff2f2 inset, 0px 1px 1px #f98383 inset;
    -o-box-shadow: 1px 0px 2px #fec3c3 inset, -1px 0px 2px #fec3c3 inset, 0px -1px 2px 1px #fff2f2 inset, 0px 1px 1px #f98383 inset;
}
.dxeInvalid_Print .dxeEditArea_Print,
.dxeInvalid_Print .dxeMemoEditArea_Print
{
	color: #ee1111;
}

/* -- Focused Style -- */
.dxeFocused_Print
{
	border: 1px solid #3d3d3d;
}

/* -- Null Text Style -- */
.dxeNullText_Print .dxeEditArea_Print,
.dxeNullText_Print .dxeMemoEditArea_Print
{
	color: #818181;
}

/* -- Captcha -- */
.dxcaRefreshButton_Print
{
	font: 13px Tahoma;
	text-decoration: none;
	color: #1e3695;
}

.dxcaDisabledRefreshButton_Print
{
	color: #acacac;
}

.dxcaRefreshButtonCell_Print
{
	padding-left: 4px;
}

.dxcaRefreshButtonText_Print
{
}

.dxcaDisabledRefreshButtonText_Print
{
}

.dxcaTextBoxCell_Print
{
	font: 12px Tahoma;
}

.dxcaTextBoxCell_Print,
.dxcaTextBoxCellNoIndent_Print
{
	font: 12px Tahoma;
}

.dxcaTextBoxCell_Print .dxeErrorCell_Print
{
}

.dxcaTextBoxCellNoIndent_Print .dxeErrorCell_Print
{
	padding-left: 0px;
	padding-top: 4px;
	color: Red;
}

.dxcaTextBoxLabel_Print
{
	padding-bottom: 4px;
	display: block;
}

.dxcaLoadingPanel_Print
{
	font: 12px Tahoma;
	color: #303030;
}

.dxcaLoadingPanel_Print td.dx
{
	white-space: nowrap;
	text-align: center;
	padding: 12px;
}



