@model IEnumerable

@using(Html.BeginForm("ExportTo", "Exporting")) {
    <div style="padding: 10px 0;">
        @foreach(VerticalGridExportFormat format in VerticalGridExportDemoHelper.ExportFormatsInfo.Keys) {
            <div style="display:inline-block; padding-right: 10px;">
                @Html.DevExpress().Button(VerticalGridExportDemoHelper.GetExportButtonProperties(format)).GetHtml()
           </div>
        }
    </div>
    @Html.Partial("ExportingPartial", Model)
}

<div class="Note">
	<b>Note:</b>
	If you export grouped data to RTF, be sure to open the resulting file with an editor that fully supports RTF, including tables. 
    For instance, Microsoft WordPad does not support this feature, and thus the file may appear corrupt.
</div>
