@if(!DatabaseGenerator.IsReady("GeneratedServerModeTable")) {
    @Html.Partial("CreateDatabasePartial", "GeneratedServerModeTable")
} else {
    <script type="text/javascript">
        var callbackInitDate;

        function OnStartCallback(s, e) {
            callbackInitDate = new Date();
        }
        function OnEndCallback(s, e) {
            var currentDate = new Date();
            var time = currentDate - callbackInitDate;
            $("#Time").html(time);
        }
    </script>
    <div class="performace_test_result">
        <table>
            <tr>
                <td>Time taken:</td>
                <td style="color:red"><span id="Time">&nbsp;</span>&nbsp;ms</td>
            </tr>
        </table>
    </div>
    @Html.Partial("DataBindingToLargeDatabasePartial")
}