.dxWeb_rpHeaderTopLeftCorner_Print,
.dxWeb_rpHeaderTopRightCorner_Print,
.dxWeb_rpBottomLeftCorner_Print,
.dxWeb_rpBottomRightCorner_Print,
.dxWeb_rpTopLeftCorner_Print,
.dxWeb_rpTopRightCorner_Print,
.dxWeb_rpGroupBoxBottomLeftCorner_Print,
.dxWeb_rpGroupBoxBottomRightCorner_Print,
.dxWeb_rpGroupBoxTopLeftCorner_Print,
.dxWeb_rpGroupBoxTopRightCorner_Print,
.dxWeb_mHorizontalPopOut_Print,
.dxWeb_mVerticalPopOut_Print,
.dxWeb_mVerticalPopOutRtl_Print,
.dxWeb_mSubMenuItem_Print,
.dxWeb_mSubMenuItemChecked_Print,
.dxWeb_mScrollUp_Print,
.dxWeb_mScrollDown_Print,
.dxWeb_tcScrollLeft_Print,
.dxWeb_tcScrollRight_Print,
.dxWeb_tcScrollLeftHover_Print,
.dxWeb_tcScrollRightHover_Print,
.dxWeb_tcScrollLeftPressed_Print,
.dxWeb_tcScrollRightPressed_Print,
.dxWeb_tcScrollLeftDisabled_Print,
.dxWeb_tcScrollRightDisabled_Print,
.dxWeb_nbCollapse_Print,
.dxWeb_nbExpand_Print,
.dxWeb_splVSeparator_Print,
.dxWeb_splVSeparatorHover_Print,
.dxWeb_splHSeparator_Print,
.dxWeb_splHSeparatorHover_Print,
.dxWeb_splVCollapseBackwardButton_Print,
.dxWeb_splVCollapseBackwardButtonHover_Print,
.dxWeb_splHCollapseBackwardButton_Print,
.dxWeb_splHCollapseBackwardButtonHover_Print,
.dxWeb_splVCollapseForwardButton_Print,
.dxWeb_splVCollapseForwardButtonHover_Print,
.dxWeb_splHCollapseForwardButton_Print,
.dxWeb_splHCollapseForwardButtonHover_Print,
.dxWeb_pcSizeGrip_Print,
.dxWeb_pcSizeGripRtl_Print,
.dxWeb_pAll_Print,
.dxWeb_pAllDisabled_Print,
.dxWeb_pPrev_Print,
.dxWeb_pPrevDisabled_Print,
.dxWeb_pNext_Print,
.dxWeb_pNextDisabled_Print,
.dxWeb_pLast_Print,
.dxWeb_pLastDisabled_Print,
.dxWeb_pFirst_Print,
.dxWeb_pFirstDisabled_Print,
.dxWeb_tvColBtn_Print,
.dxWeb_tvColBtnRtl_Print,
.dxWeb_tvExpBtn_Print,
.dxWeb_tvExpBtnRtl_Print,
.dxWeb_ncBackToTop_Print,
.dxWeb_smBullet_Print,
.dxWeb_tiBackToTop_Print,
.dxWeb_fmFolder_Print,
.dxWeb_fmFolderLocked_Print,
.dxWeb_fmCreateButton_Print,
.dxWeb_fmMoveButton_Print,
.dxWeb_fmRenameButton_Print,
.dxWeb_fmDeleteButton_Print,
.dxWeb_fmRefreshButton_Print,
.dxWeb_fmDwnlButton_Print,
.dxWeb_fmCreateButtonDisabled_Print,
.dxWeb_fmMoveButtonDisabled_Print,
.dxWeb_fmRenameButtonDisabled_Print,
.dxWeb_fmDeleteButtonDisabled_Print,
.dxWeb_fmRefreshButtonDisabled_Print,
.dxWeb_fmDwnlButtonDisabled_Print,
.dxWeb_ucClearButton_Print,
.dxWeb_ucClearButtonDisabled_Print,
.dxWeb_pcCloseButton_Print
 { 
    background-image: url('sprite.png');
    -background-image: url('sprite.gif'); /* for IE6 */
    background-repeat: no-repeat;
    background-color: transparent;
    display:block;
}
.dxWeb_pcCloseButton_Print {
    background-position: 0px -40px;
    width: 29px;
    height: 15px;
}
.dxWeb_mScrollUp_Print, .dxWeb_mScrollDown_Print
{
	margin: auto;
}
.dxWeb_ncBackToTop_Print,
.dxWeb_pAll_Print,
.dxWeb_pAllDisabled_Print,
.dxWeb_pPrev_Print,
.dxWeb_pPrevDisabled_Print,
.dxWeb_pNext_Print,
.dxWeb_pNextDisabled_Print,
.dxWeb_pLast_Print,
.dxWeb_pLastDisabled_Print,
.dxWeb_pFirst_Print,
.dxWeb_pFirstDisabled_Print,
.dxWeb_smBullet_Print,
.dxWeb_tiBackToTop_Print
{
	display:inline;
}

.dxWeb_edtCheckBoxChecked_Print,
.dxWeb_edtCheckBoxUnchecked_Print,
.dxWeb_edtCheckBoxGrayed_Print,
.dxWeb_edtCheckBoxCheckedDisabled_Print,
.dxWeb_edtCheckBoxUncheckedDisabled_Print,
.dxWeb_edtCheckBoxGrayedDisabled_Print 
{	
}

.dxWeb_edtCheckBoxUnchecked_Print {
	background-position: -140px -73px;
}
.dxWeb_edtCheckBoxChecked_Print {
}
.dxWeb_edtCheckBoxGrayed_Print {
	background-position: -140px -103px;
}
.dxWeb_edtCheckBoxUncheckedDisabled_Print {
	background-position: -140px -118px;
}
.dxWeb_edtCheckBoxCheckedDisabled_Print {
	background-position: -140px -133px;
}
.dxWeb_edtCheckBoxGrayedDisabled_Print {
	background-position: -140px -148px;
}

.dxWeb_rpHeaderTopLeftCorner_Print {
    background-position: -76px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpHeaderTopRightCorner_Print {
    background-position: -84px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpBottomLeftCorner_Print {
    background-position: -57px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpBottomRightCorner_Print {
    background-position: -65px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpTopLeftCorner_Print {
    background-position: -38px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpTopRightCorner_Print {
    background-position: -46px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxBottomLeftCorner_Print {
    background-position: -19px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxBottomRightCorner_Print {
    background-position: -27px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxTopLeftCorner_Print {
    background-position: 0px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_rpGroupBoxTopRightCorner_Print {
    background-position: -8px -90px;
    width: 5px;
    height: 5px;
}

.dxWeb_mHorizontalPopOut_Print {
    background-position: -92px -40px;
    width: 7px;
    height: 4px;
}

.dxWeb_mVerticalPopOut_Print {
    background-position: -101px -40px;
    width: 4px;
    height: 7px;
}

.dxWeb_mVerticalPopOutRtl_Print {
    background-position: -106px -40px;
    width: 4px;
    height: 7px;
}

.dxWeb_mSubMenuItem_Print {
    background-position: -63px -40px;
    width: 13px;
    height: 13px;
}

.dxWeb_mSubMenuItemChecked_Print {
    background-position: -77px -40px;
    width: 13px;
    height: 13px;
}

.dxWeb_mScrollUp_Print {
    background-position: -75px -59px;
    width: 18px;
    height: 18px;
}

.dxWeb_mScrollDown_Print {
    background-position: -94px -59px;
    width: 18px;
    height: 18px;
}

.dxWeb_tcScrollLeft_Print {
	background-position: -116px 0px;
    width: 19px;
    height: 15px;
}

.dxWeb_tcScrollRight_Print {
	background-position: -137px 0px;
    width: 19px;
    height: 15px;
}

.dxWeb_tcScrollLeftHover_Print {
	background-position: -116px -16px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollRightHover_Print {
	background-position: -137px -16px;
    width: 19px;
    height: 15px;
}

.dxWeb_tcScrollLeftPressed_Print {
	background-position: -116px -32px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollRightPressed_Print {
	background-position: -137px -32px;
    width: 19px;
    height: 15px;
}

.dxWeb_tcScrollLeftDisabled_Print {
	background-position: -116px -48px;
    width: 19px;
    height: 15px;
}
.dxWeb_tcScrollRightDisabled_Print  {
	background-position: -137px -48px;
    width: 19px;
    height: 15px;
}

.dxWeb_nbCollapse_Print {
    background-position: -101px 0px;
    width: 13px;
    height: 15px;
}

.dxWeb_nbExpand_Print {
    background-position: -101px -16px;
    width: 13px;
    height: 15px;
}

.dxWeb_splVSeparator_Print {
    background-position: -18px -59px;
    width: 6px;
    height: 22px;
}

.dxWeb_splVSeparatorHover_Print {
    background-position: -25px -59px;
    width: 6px;
    height: 22px;
}

.dxWeb_splHSeparator_Print {
    background-position: -33px -59px;
    width: 23px;
    height: 6px;
}

.dxWeb_splHSeparatorHover_Print {
    background-position: -33px -66px;
    width: 23px;
    height: 6px;
}

.dxWeb_splVCollapseBackwardButton_Print {
    background-position: 0px -73px;
    width: 6px;
    height: 7px;
}

.dxWeb_splVCollapseBackwardButtonHover_Print {
    background-position: 0px -81px;
    width: 6px;
    height: 7px;
}

.dxWeb_splHCollapseBackwardButton_Print {
    background-position: 0px -59px;
    width: 7px;
    height: 6px;
}

.dxWeb_splHCollapseBackwardButtonHover_Print {
    background-position: 0px -66px;
    width: 7px;
    height: 6px;
}

.dxWeb_splVCollapseForwardButton_Print {
    background-position: -8px -73px;
    width: 6px;
    height: 7px;
}

.dxWeb_splVCollapseForwardButtonHover_Print {
    background-position: -8px -81px;
    width: 6px;
    height: 7px;
}

.dxWeb_splHCollapseForwardButton_Print {
    background-position: -9px -59px;
    width: 7px;
    height: 6px;
}

.dxWeb_splHCollapseForwardButtonHover_Print {
    background-position: -9px -66px;
    width: 7px;
    height: 6px;
}


.dxWeb_pcSizeGrip_Print {
    background-position: -34px -40px;
    width: 13px;
    height: 13px;
}

.dxWeb_pcSizeGripRtl_Print {
    background-position: -48px -40px;
    width: 13px;
    height: 13px;
}

.dxWeb_pAll_Print {
    background-position: 0px 0px;
    width: 19px;
    height: 18px;
}

.dxWeb_pAllDisabled_Print {
    background-position: 0px -20px;
    width: 19px;
    height: 18px;
}

.dxWeb_pPrev_Print {
    background-position: -60px 0px;
    width: 19px;
    height: 18px;
}

.dxWeb_pPrevDisabled_Print {
    background-position: -60px -20px;
    width: 19px;
    height: 18px;
}

.dxWeb_pNext_Print {
    background-position: -80px 0px;
    width: 19px;
    height: 18px;
}

.dxWeb_pNextDisabled_Print {
    background-position: -80px -20px;
    width: 19px;
    height: 18px;
}

.dxWeb_pLast_Print {
    background-position: -40px 0px;
    width: 19px;
    height: 18px;
}

.dxWeb_pLastDisabled_Print {
    background-position: -40px -20px;
    width: 19px;
    height: 18px;
}

.dxWeb_pFirst_Print {
    background-position: -20px 0px;
    width: 19px;
    height: 18px;
}

.dxWeb_pFirstDisabled_Print {
    background-position: -20px -20px;
    width: 19px;
    height: 18px;
}

.dxWeb_tvColBtn_Print {
	background-position: -19px -98px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvColBtnRtl_Print {
	background-position: -57px -98px;
    width: 17px;
    height: 17px;
}

.dxWeb_tvExpBtn_Print {
    background-position: 0px -98px;
    width: 17px;
    height: 17px;
}
.dxWeb_tvExpBtnRtl_Print {
	background-position: -38px -98px;
    width: 17px;
    height: 17px;
}

.dxWeb_ncBackToTop_Print {
    background-position: -58px -59px;
    width: 15px;
    height: 15px;
}
.dxWeb_smBullet_Print {
    background-position: -33px -75px;
    width: 8px;
    height: 13px;
}
.dxWeb_tiBackToTop_Print {
    background-position: -58px -59px;
    width: 15px;
    height: 15px;
}

.dxWeb_fmFolder_Print {
	background-position: 0px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmFolderLocked_Print {
	background-position: -20px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmCreateButton_Print {
	background-position: -40px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRenameButton_Print {
	background-position: -60px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmMoveButton_Print {
	background-position: -80px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmDeleteButton_Print {
	background-position: -100px -123px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRefreshButton_Print {
	background-position: -120px -123px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButton_Print {
	background-position: 0px -147px;
    width: 16px;
    height: 16px;
}
.dxWeb_fmDwnlButtonDisabled_Print {
	background-position: -20px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmCreateButtonDisabled_Print {
	background-position: -40px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRenameButtonDisabled_Print {
	background-position: -60px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmMoveButtonDisabled_Print {
	background-position: -80px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmDeleteButtonDisabled_Print {
	background-position: -100px -147px;
    width: 16px;
    height: 16px;
}

.dxWeb_fmRefreshButtonDisabled_Print {
	background-position: -120px -147px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButton_Print {
    background-position: -100px -123px;
    width: 16px;
    height: 16px;
}
.dxWeb_ucClearButtonDisabled_Print {
    background-position: -100px -147px;
    width: 16px;
    height: 16px;
}
