@model DevExpress.DashboardWeb.WorkingMode

<div style="position: absolute; left:0;top:0;right:0;bottom:0;">
@Html.DevExpress().Dashboard(settings => {
    settings.Name = "clientDashboardDesigner1";
    settings.WorkingMode = Model;
    settings.Width = Unit.Percentage(100);
    settings.Height = Unit.Percentage(100);
    settings.AllowExportDashboardItems = true;
    settings.IncludeDashboardIdToUrl = true;
    settings.IncludeDashboardStateToUrl = true;
    settings.ClientSideEvents.CustomizeMenuItems = "onCustomizeMenuItems";
    settings.ClientSideEvents.BeforeRender = "onBeforeRender";
}).GetHtml()
</div>