@model IEnumerable
<script type="text/javascript">
    function OnRecordSelectionChanged(s, e) {
        s.GetSelectedFieldValues("Model;Price", GetSelectedFieldValuesCallback);
    }
    function GetSelectedFieldValuesCallback(values) {
        selectionList.BeginUpdate();
        try {
            selectionList.ClearItems();
            for (var i = 0; i < values.length; i++) {
                var item = values[i];
                var texts = [item[0], '$' + item[1]];
                selectionList.AddItem(texts);
            }
        } finally {
            selectionList.EndUpdate();
        }
        document.getElementById("selCount").innerHTML = VerticalGrid.GetSelectedRecordCount();
    }
</script>

<div style="float: left; width: 78%">
    <div class="BottomPadding">
        Click checkbox to select item:
    </div>
    @Html.Partial("SelectionPartial")
</div>
<div style="float: right; width: 20%">
    <div class="BottomPadding">
        Selected values:
    </div>
    @Html.DevExpress().ListBox(settings => {
        settings.Name = "SelectionList";
        settings.Height = 250;
        settings.Properties.ClientInstanceName = "selectionList";
        settings.Properties.Columns.Add("Model").Width = 80;
        settings.Properties.Columns.Add("Price").Width = 40;
    }).GetHtml()
    <div class="TopPadding">
        Selected count: <span id="selCount" style="font-weight: bold">0</span>
    </div>
</div>