@{ RoundPanelFeaturesDemoOptions options = (RoundPanelFeaturesDemoOptions)ViewData["Options"]; }
@using(Html.BeginForm()) {
    <div style="padding: 20px; display: inline-block; vertical-align: top;">
        @Html.DevExpress().RoundPanel(settings => {
           settings.Name = "roundPanel";
           settings.AllowCollapsingByHeaderClick = options.AllowCollapsingByHeaderClick;
           settings.ShowCollapseButton = options.ShowCollapseButton;
           settings.ShowHeader = options.ShowHeader;
           settings.View = options.View;
           settings.EnableAnimation = options.EnableAnimation;
           settings.Width = 270;
           settings.HeaderText = "ASP.NET MVC";

           settings.SetContent(@"<h4>55+ MVC Extensions</h4><br />
    The extensions that are included inside the DevExpress ASP.NET Subscription have been optimized for MVC and designed so you can deliver elegant line-of-business apps with absolute ease. From an Outlook.com inspired solution to a full-featured web dashboard, DevExpress MVC extensions help you build your best, each and every time.");
        }).GetHtml()
    </div>
    @Html.Partial("FeaturesOptionsPartial", ViewData)
}