<table>
    <tbody>
        <tr>
            <td>
                <img alt="Maria Hernandez" class="photo" src="../Content/Images/Contacts/Maria_Hernandez.jpg"
                    width="150" height="150" />
            </td>
            <td class="details">
                <div>
                    <b>Name:</b>
                    <p>
                        Maria Hernandez</p>
                </div>
                <div>
                    <b>Email:</b>
                    <p>
                        maria.hernandez@example.com</p>
                </div>
                <div>
                    <b>Address:</b>
                    <p>
                        644 North Ranchford, Bangor, USA</p>
                </div>
                <div>
                    <b>Phone:</b>
                    <p>
                        1 (207) 555-0032</p>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 15px;">
                The content of this round panel control was updated at <b>@DateTime.Now.ToLongTimeString()</b>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center; padding: 10px;">
                @Html.DevExpress().Button(settings => {
                    settings.Name = "refreshButton";
                    settings.ClientSideEvents.Click = "function(s,e){ roundPanel.PerformCallback(); }";
                    settings.Text = "Refresh Details";
                    settings.Images.Image.IconID = "actions_refresh_16x16gray";
                }).GetHtml()
            </td>
        </tr>
    </tbody>
</table>
