.tbOffice2003
{
    background-color: transparent!important;
    border: 0!important;
    padding: 0 0 0 2px!important;
}
.tbOffice2003 .tbItem
{
    border: 1px solid transparent;
    padding: 0;
}
.tbOffice2003 .tbItem div
{
    padding: 1px!important;
}
.tbOffice2003 .tbItemHover
{
    border: 1px solid Navy;
    background: url('../Images/Toolbars/Office2003/BackgroundHover.gif') repeat-x;
}
.tbOffice2003 .tbItemChecked
{
    border: 1px solid Navy;
    background: url('../Images/Toolbars/Office2003/BackgroundSelected.gif') repeat-x;
}
.tbOffice2003 .tbSeparator
{
    padding: 4px 2px!important;
    height: 12px!important;
}
.tbOffice2003 .tbSeparator b
{
    background: url('../Images/Toolbars/Office2003/SeparatorBackground.png') no-repeat center;
    margin: 0!important;
    height: 12px!important;
    width: 2px!important;
}
.tbOffice2003InputLabel
{
    color: Black; 
    font-weight: normal; 
    height: 13px;
    margin: 1px 4px 0;
    display: inline-block;
    vertical-align: middle;
} 
.tbOffice2003Input 
{
    width: 102px; 
    height: 13px;
    background-color: #FFFFFF; 
    border: solid 1px #000080; 
    vertical-align: middle; 
    padding: 1px;
    margin: 1px 2px 0; 
}

.tbOffice2007Container
{
    border-collapse: collapse;
}
.tbOffice2007Container > tbody > tr > td
{
    padding: 0;
}
.tbOffice2007Group
{
    background-color: transparent!important;
    border: 0!important;
    padding: 0!important;
}
.tbOffice2007Group .tbItem
{
    border: 0!important;
}
.tbOffice2007
{
    background-color: transparent!important;
    border: 0!important;
    padding: 0 2px 1px!important;
}
.tbOffice2007 .tbItem
{
    width: 42px;
    height: 66px;
    border: 0;
}
.tbOffice2007 .tbItem div
{
    padding: 14px 4px!important;
}
.tbOffice2007 .tbItemHover
{
    background: url('../Images/Toolbars/Office2007/BackgroundHover.gif') no-repeat;
    border: 0;
}
.tbOffice2007 .tbItemChecked
{
    background: url('../Images/Toolbars/Office2007/BackgroundSelected.gif') no-repeat;
    border: 0;
}

.tbWindowsXP
{
    background: #F1F2EE url('../Images/Toolbars/WindowsXP/Background.gif') repeat-x top;
    border: 1px solid #ACA899;
    padding: 1px 2px!important;
}

.tbWindowsXP .tbItem
{
    border: 0;
    padding: 1px 0 3px;
    width: 64px;
}
.tbWindowsXP .tbItem div
{
    padding: 0!important;
    text-align: center;
    width: 100%;
}
.tbWindowsXP .tbItemHover
{
    background: url('../Images/Toolbars/WindowsXP/BackgroundHover.gif') no-repeat left top;
}
.tbWindowsXP .tbSeparator
{
    padding: 0!important;
}
.tbWindowsXP .tbSeparator b
{
    background: #ACA899 url('../Images/Toolbars/WindowsXP/SeparatorBackground.gif') repeat-y right top;
    margin: 2px 0!important;
    height: 44px!important; 
    width: 2px!important;
}