<script type="text/javascript">
    $(document).ready(function() {
        $("#ShowStatusBar").change(
            function() {
                $("form").submit();
            }
        );
    }); 
</script>

@{ RibbonCustomizationDemoOptions options = (RibbonCustomizationDemoOptions)Session["RibbonCustomizationOptions"]; }

@using(Html.BeginForm("RibbonCustomization", "BarsAndUI")) {
    if(options.IsExternalRibbonMode) {
        @Html.Partial("RibbonCustomizationExternalRibbonPartial")
    }
    <div class="BottomMargin TopMargin">
        <label for="RibbonMode" style="vertical-align: middle">Ribbon Mode:</label>
        @Html.DropDownList("RibbonMode", RibbonCustomizationDemoOptions.GetSelectModes(), new {
            style = "vertical-align: middle; margin-right: 15px",
            onchange = "$('form').submit();"
        })
        @Html.CheckBox("ShowStatusBar", options.ShowStatusBar, new {
            style = "vertical-align: middle"
        })
        <label for="ShowStatusBar" style="vertical-align: middle;">Show Status Bar</label>
    </div>
    @Html.Partial("RibbonCustomizationPartial")
}