@using(Html.BeginForm(new { Controller = "DocumentManagement", Action = "ExportFile" })) {
    <div class="BottomMargin">
        <input type="submit" name="Export" value="Export To PDF" />
    </div>
    @Html.Partial("ExportToPDFPartial")    
}