<div class="BottomMargin">
    <label>Click the <b>Open</b> button in the <b>Common</b> group within the <b>File</b> tab to open the document browser.</label>
</div>
@using(Html.BeginForm()) {
    @Html.Partial("LoadAndSavePartial")
}