@section AdditionalResources {
    <script src="@Url.Content("~/Scripts/StartEditFormula.js")" type="text/javascript"></script>
}
<div style="padding-bottom:5px;">
    On the AutoComplete list, double-click on the <b>SUMIFS</b> function (or press the Tab key if SUMIFS is selected) to insert this function into the cell formula, and then press Enter to evaluate the formula.
</div>
@using(Html.BeginForm()) {
    @Html.Partial("FormulasPartial")
}
