.imageContainer
{
    width: 500px;
    margin: 0 auto;
}
.description
{
    padding-top: 120px;
    padding-bottom: 120px;
    display: table;
    margin: 0 auto;
}
.imageContainer > img
{
    border: 1px solid #cacaca;
    margin: 0 5px;
}