@model MvcHtmlString

<script type="text/javascript">
    function OnCheckSpellingButtonClick(s, e){
        spellChecker.Check(); 
    }
    function OnSpellCheckerBeforeCheck(s, e){
        checkSpellingButton.SetEnabled(false);
    }
    function OnSpellCheckerAfterCheck(s, e){
        checkSpellingButton.SetEnabled(true);
    }
</script>

@Html.Partial("EditorsSpellCheckerPartial")

<div style="padding-bottom: 15px;">
    @Html.DevExpress().Button(settings => {
        settings.Name = "checkSpellingButton";
        settings.Text = "Check Spelling ...";
        settings.ClientSideEvents.Click = "OnCheckSpellingButtonClick";
    }).GetHtml()
</div>
@Html.DevExpress().Memo(settings => {
    settings.Name = "sampleText";
    settings.Height = Unit.Pixel(200);
    settings.Width = Unit.Percentage(100);
}).Bind(Model).GetHtml()