@model HtmlEditorInsertMediaContentDemoOptions
@using (Html.BeginForm()){
    <div style="float: left; padding-right: 20px;">
        @Html.Partial("InsertMediaContentPartial", Model)
    </div>
    @Html.Partial("InsertMediaContentOptionsPartial", Model)
    <div class="Clear"></div>
    <br />
    <div class="Note">
        <b>Allowed Extensions</b><br/>
        <b>Flash</b>: .swf;<br/>
        <b>Video</b>: .mp4, .ogg;<br/>
        <b>Audio</b>: .mp3, .ogg.
    </div>
}