@section AdditionalResources {
    <style type="text/css">
        .htmlEditorContainer,
        .htmlEditorContainer > tbody > tr > td:first-child 
        {
            width: 100%;
        }
        .htmlEditorContainer > tbody > tr > td 
        {
            vertical-align: top;
        }
    </style>
}

@using(Html.BeginForm()) {

    <table class="htmlEditorContainer">
        <tr>
            <td>@Html.Partial("UploadProcessingPartial")</td>
            <td style="padding-left: 20px;">
                @Html.DevExpress().FormLayout(settings => {
                    settings.Name = "formLayout";
                    settings.Width = Unit.Percentage(100);
                    settings.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;

                    settings.Items.AddGroupItem(group => {
                        group.Caption = "Uploaded Image Settings";
                        group.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;
                        group.Items.Add(i => {
                            i.Caption = "File name prefix";
                            i.NestedExtension().TextBox(s => {
                                s.Name = "fileNamePrefix";
                                s.Properties.NullText = "Without prefix";
                                s.Properties.ValidationSettings.Display = Display.Dynamic;
                                s.Properties.ValidationSettings.RegularExpression.ValidationExpression = "[^|\"]*";
                                s.Properties.ValidationSettings.RegularExpression.ErrorText = "The prefix contains invalid characters";                       
                            });
                        });
                        group.Items.Add(i => {
                            i.Caption = "Watermark text";
                            i.NestedExtension().TextBox(s => {
                                s.Name = "watermarkText";
                                s.Text = "MVCxHtmlEditor";
                            });
                        });
                        group.Items.Add(i => {
                            i.Caption = "Max width";
                            i.NestedExtension().SpinEdit(s => {
                                s.Number = 480;
                                s.Name = "maxWidth";
                            });
                        });
                        group.Items.Add(i => {
                            i.Caption = "Max height";
                            i.NestedExtension().SpinEdit(s => {
                                s.Number = 320;
                                s.Name = "maxHeight";
                            });
                        });
                    });
                }).GetHtml()
            </td>
        </tr>
    </table>
    
}