<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<!--
		<add key="Modules" value="
DevExpress.ExpressApp.v16.2;
DevExpress.ExpressApp.Objects.v16.2;
DevExpress.ExpressApp.Win.v16.2;
DevExpress.ExpressApp.Reports.Win.v16.2;
DevExpress.ExpressApp.Scheduler.Win.v16.2;
DevExpress.ExpressApp.Validation.v16.2;
DevExpress.ExpressApp.Validation.Win.v16.2;
DevExpress.ExpressApp.FileAttachment.Win.v16.2;
DevExpress.ExpressApp.Scheduler.Win.v16.2;
DevExpress.ExpressApp.AuditTrail.v16.2;
DevExpress.ExpressApp.Security.v16.2;
XCRM.Module;
XCRM.Module.Win" />
		-->
		<add key="NewVersionServer" value="" />
		<!--<add key="EnableDiagnosticActions" value="False"/>-->
		<add key="Languages" value="de;es;ja;ru" />
  </appSettings>
	<connectionStrings>
		<add name="SqlExpressConnectionString" connectionString="Integrated Security=SSPI;MultipleActiveResultSets=True;Data Source=.\SQLEXPRESS;Initial Catalog=XCRM_16.2" />
		<!--CanNotPatchBinConnectionString-->
		<!--
		Use the following connection string to connect to a database on the Microsoft SQLExpress Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;MultipleActiveResultSets=True;Data Source=.\SQLEXPRESS;Initial Catalog=XCRM_16.2"/>
		-->
		<!--
		Use the following ConnectionString to connect to a database on the Microsoft SQL Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;MultipleActiveResultSets=True;Data Source=(local);Initial Catalog=XCRM_16.2" />
		-->
  </connectionStrings>
	<system.diagnostics>
		<switches>
			<!-- Use one of the following predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
			<add name="eXpressAppFramework" value="3" />
		</switches>
	</system.diagnostics>
</configuration>
