<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" EnableUpperCase="MainDemoWeb">
  <Applications>
    <!-- Win -->
    <Application
			Name="MainDemoWin"
			FileName="C:\Users\Public\Documents\DevExpress Demos 16.2\Components\eXpressApp Framework\MainDemo\VB\MainDemo.Win\Bin\Debug\MainDemo.Win.exe"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WinAdapter.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
			CommunicationPort="15926"/>
    <Application
			Name="MainDemoWinRibbon"
			FileName="C:\Users\Public\Documents\DevExpress Demos 16.2\Components\eXpressApp Framework\MainDemo\VB\MainDemo.Win.Ribbon\Bin\Debug\MainDemo.Win.Ribbon.exe"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WinAdapter.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
			CommunicationPort="15927"/>
    <!-- Web -->
    <Application
			Name="MainDemoWeb"
			Url="http://localhost:4030"
			PhysicalPath="C:\Users\Public\Documents\DevExpress Demos 16.2\Components\eXpressApp Framework\MainDemo\VB\MainDemo.Web"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WebAdapter.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
      IgnoreCase="true"/>
    <!-- For IIS -->
    <!--Application
			Name="MainDemoWeb"
			Url="http://localhost/MainDemo.Web/Default.aspx"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WebAdapter.v16.2, Version=16.2.9.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/-->
  </Applications>
  <TestDatabases>
    <Database xsi:type="TestMSSQLDatabase" Server="(localdb)\mssqllocaldb" DBName="MainDemo"/>
  </TestDatabases>
</Options>