 @model IEnumerable

 <script type="text/javascript">
    $(document).ready(function() {
        $("#EnableCheckedListMode").change(function(){ 
            $("form").submit();
        });
    });        
</script>
@using(Html.BeginForm()) {
    <div class="vertOptionsPanel" style="padding-left: 0">
        @Html.CheckBox("EnableCheckedListMode", (bool)ViewBag.EnableCheckedListMode, new { @class = "leftMost" })
        <label class="checkBox" for="EnableCheckedListMode">Enable CheckedList Mode</label>
    </div>
}    
<br />
<br />
 @Html.Partial("FilteringPartial", Model)