<script type="text/javascript" src="@Url.Content("~/Scripts/ContextMenu.js")"></script>
@using(Html.BeginForm()) {
    <table style="border-width: 0px; width: 100%">
        <tr>
            <td style="vertical-align: top; padding-right: 25px">
                @Html.Partial("ContextMenuPartial")
            </td>
            <td style="vertical-align: top; width: 100%">
                @Html.DevExpress().FormLayout(settings => {
                    settings.Name = "demoOptions";
                    settings.ShowItemCaptionColon = false;
                    settings.SettingsItemCaptions.Location = LayoutItemCaptionLocation.Top;
    
                    settings.Items.AddGroupItem(g => {
                        g.Caption = "Context Menu Settings";
                        g.GroupBoxDecoration = GroupBoxDecoration.HeadingLine;

                        g.Items.Add(i => {
                            i.Caption = "Type";
                            i.NestedExtension().ComboBox(s => {
                                s.Name = "cbContextMenu";
                                s.Width = Unit.Pixel(210);
                                s.Properties.Items.AddRange(new ListEditItem[] {
                                    new ListEditItem("HTML Editor", "True"),
                                    new ListEditItem("Browser", "Default"),
                                    new ListEditItem("None", "False")
                                });
                                s.PreRender = (c, e) => {
                                    ASPxComboBox comboBox = c as ASPxComboBox;
                                    if(ViewData["AllowContextMenu"] != null)
                                        comboBox.Items.FindByValue(ViewData["AllowContextMenu"].ToString()).Selected = true;
                                };
                            });
                        });

                        g.Items.Add(i => {
                            i.Caption = "Items";
                            i.NestedExtension().ListBox(s => {
                                s.Name = "lbContextMenuItems";
                                s.Properties.SelectionMode = ListEditSelectionMode.CheckColumn;
                                s.Width = Unit.Pixel(210);
                                s.Height = Unit.Pixel(310);
                                s.EncodeHtml = false;
                                s.Enabled = ViewData["AllowContextMenu"] == null || ViewData["AllowContextMenu"].Equals(DefaultBoolean.True);
                                s.PreRender = (c, e) => {
                                    ASPxListBox listBox = (c as ASPxListBox);
                                    foreach(ListEditItem item in ViewData["lbContextMenuItems"] as List<ListEditItem>)
                                        listBox.Items.Add(item);
                                };
                            });
                        });
                        
                        g.Items.Add(i => {
                            i.ShowCaption = DefaultBoolean.False;
                            i.NestedExtensionType = FormLayoutNestedExtensionItemType.Button;
                            i.ParentContainerStyle.Paddings.PaddingTop = Unit.Pixel(15);
                            i.VerticalAlign = FormLayoutVerticalAlign.Top;
                            i.NestedExtension().Button(s => {
                                s.Name = "btnApply";
                                s.Text = "Apply";
                                s.UseSubmitBehavior = true;
                                s.Width = 80;
                            });
                        });
                    });
                }).GetHtml()
            </td>
        </tr>
    </table>
}