<table class="OptionsTable">
    <tr>
        <td>
            @Html.DevExpress().Label(
                settings => {
                    settings.Text = "File&nbsp;Type: ";
                    settings.EncodeHtml = false;
                    settings.AssociatedControlName = "cbDownloadType";
                }
            ).GetHtml()
        </td>
        <td>
            @Html.DevExpress().ComboBox(
                settings => {
                    settings.Name = "ExportToDocumentType";
                    settings.Properties.ValueType = typeof(int);
                    settings.SelectedIndex = 0;
                    settings.Width = Unit.Pixel(215);
                    settings.Style.Add(HtmlTextWriterStyle.MarginRight, "9px");
                    settings.Properties.Items.Add("Rich Text Format (*.rtf)", 1);
                    settings.Properties.Items.Add("Microsoft Word Document (*.doc)", 2);
                    settings.Properties.Items.Add("Word 2007 Document (*.docx)", 3);
                    settings.Properties.Items.Add("Portable Document Format (*.pdf)", 4);
                    settings.Properties.Items.Add("Text Files (*.txt)", 5);
                    settings.Properties.Items.Add("Web Archive, single file (*.mht)", 6);
                    settings.Properties.Items.Add("OpenDocument Text Document (*.odt)", 7);
                    settings.Properties.Items.Add("Word XML Document (*.xml)", 8);
                    settings.Properties.Items.Add("Electronic Publication (*.epub)", 9);
            }).GetHtml()
        </td>
        <td>
            @Html.DevExpress().Button(
                    settings => {
                        settings.Name = "btnExport";
                        settings.Text = "Download";
                        settings.UseSubmitBehavior = true;

                    }
                ).GetHtml()
        </td>
    </tr>
</table>
