@{
    ViewBag.Title = "Home Page";
}

<style>
    .pricing-span {
        margin: 0;
        width: 300px;
        max-width: 400px !important;
        min-width: 110px !important;
        float: left !important;
        margin: 10px;
    }

    .pricing-table > li {
        font-size: 15px;
        padding: 1px 0;
    }

</style>
<div class="page-header">
    <div class="row">
        <div class="col-xs-10 col-sm-10">
            <h1>Our Systems:</h1>
        </div>
        @*<div class="col-xs-2 col-sm-2">
            <h1>
                <small>
                    <strong>
                        <i class="ace-icon fa fa-user"></i>
                        @ViewData["UserName"]
                    </strong>
                </small>
            </h1>
        </div>*@
    </div>
</div>
<div class="space-24"></div>
<div class="row center">
    <div class="col-xs-2 col-sm-2 pricing-span-body center">
    </div>
    <div class="col-xs-4 col-sm-4 pricing-span-body center">
        <div class="pricing-span">
            <div class="widget-box pricing-box-small widget-color-dark">
                <div class="widget-header" style="font-size: 20px">
                    <i class="fa fa-bar-chart-o"></i>
                    <h4 class="widget-title bigger lighter"><strong>Price</strong></h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <ul class="list-unstyled list-striped pricing-table">
                            <li><a href="~/Users/Get?appId=1">Users Management</a></li>
                            <li> <a href="#">Configurations</a> </li>
                            <li> <a href="#">Events</a> </li>
                            <li> <a href="#">Statistics</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 pricing-span-body center">
        <div class="pricing-span">
            <div class="widget-box pricing-box-small widget-color-dark">
                <div class="widget-header" style="font-size: 20px">
                    <i class="fa fa-line-chart"></i>
                    <h4 class="widget-title bigger lighter"><strong>Reports</strong></h4>
                </div>
                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <ul class="list-unstyled list-striped pricing-table">
                            <li><a href="~/Users/Get?appId=2">Users Management</a></li>

                            <li> <a href="#">Configurations</a> </li>
                            <li> <a href="#">Events</a> </li>
                            <li> <a href="#">Statistics</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>