<div class="Slogan">
    Your Next Great App Starts Here 
</div>
<p>
    Get started today and download your <a href="@AssemblyInfo.DXLinkTrial">30-day trial</a> of DevExpress Dashboard (includes 30 days of free technical support).
</p>
<p style="margin-top: 10px;">
    DevExpress Dashboard ships as part of the Universal Subscription and is backed by a <b>60 day unconditional money-back guarantee</b>.
    To learn more and obtain pricing information, visit the <a href="@AssemblyInfo.DXLinkCompare"> Compare Features and Pricing</a> webpage. For immediate assistance, contact us by Email at <a href="@AssemblyInfo.DXLinkEmailInfo">info@devexpress.com</a> or by phone at +1 (818) 844-3383 between 7:30am and 4:30pm Pacific Time. 
</p>